[shippingMethodSelector mallShippingMethodSelector]
skipIfOnlyOneAvailable = 1
==
<!-- 
<div class="row">
    <div class="col-12 mt-5">
        <h1 class="mb-5">
            {{'CALCULAR SHIPPING'|_}}
        </h1>
    </div>
</div>
<form>
    <div class="form-group mb-4">
        <label for="pais">
            {{'Pais'|_}}*
        </label>
        <select class="selectpicker">
            <option>Portugal</option>
            <option>USA</option>
        </select>
    </div>
    <div class="form-group mb-4">
        <label for="cidade">
            {{'Cidade'|_}}
        </label>
        <input type="text" class="form-control" id="cidade">
    </div>
    <button type="submit" class="btn mt-4">
        {{'UPDATE TOTALS'|_}}
    </button>
</form> -->
{% if false %}
    {% component 'mallShippingMethodSelector' %}
{% endif %}