==
{##}
{% set totals=cart.totals %}
{% set discounts=cart.totals.appliedDiscounts %}
{% set shipping=cart.totals.shippingTotal %}
{% set payment=cart.totals.paymentTotal %}
{% set totals=cart.totals %}
{% set taxes=cart.totals.taxes %}


<div class="row">
    <div class="col-12 mt-5">
        <h1 class="mb-5">
            {{'Total'|_}}
        </h1>
    </div>
</div>
<div class="row total_row">
    <div class="col-6">
        <p>
            Subtotal
        </p>
    </div>
    <div class="col-6 text-right">
        <p class="sub_total_price">
               {{ totals.productPostTaxes | money }}
        </p>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
{# DESCONTOS #}
{% for entry in discounts %}
<div class="row total_row">
    <div class="col-6">
        <p>{{ entry.discount.name }}
            {% if entry.discount.code %}
                ({{ entry.discount.code }})
            {% endif %}
        </p>
    </div>
    <div class="col-6 text-right">
        <p>
            {{ entry.savings | money }}
        </p>
    </div>
    <div class="col-12">
        <hr>
    </div>

</div>
{% endfor %}

{# SHIPPING METHOD #}
<div class="row total_row">
    <div class="col-6">
        <p>
            {{ shipping.method.name }}
        </p>
    </div>
    <div class="col-6 text-right">
        <p>
            {{ shipping.totalPostTaxes | money }}
        </p>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
{# TOTAL #}
<div class="row total_row">
    <div class="col-6">
        <p class="my-3">
            Total
        </p>
    </div>
    <div class="col-6 text-right">
        <p class="total_price my-3">
            {{ cart.totals.totalPostTaxes | money }}
        </p>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
{% if not step %}
    <div class="row">
        <div class="col-12 text-right">
            <a href="{{'checkout'|page}}" class="btn total_btn mt-4">
                    CONTINUAR
            </a>
        </div>
    </div>
{% endif %}
