.checkout_form {
    h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 28px;
    }

    form {
        label {
            color: $cinza_escura;
            font-size: 14px;
        }

        input {
            border-radius: 0;
            height: 45px;
            background-color: rgba($cinza_clara, .35) !important;
            border: 0;
            margin-bottom: 20px;
            margin-bottom: 10px;
            display: inline-block;
            width: 100%;
            box-shadow: none !important;
        }

        p {
            font-size: 11px;
            color: $cinza_escura;
        }
    }

    .mall-cart-summary {
        h4 {
            text-transform: uppercase;
            font-size: 18px;
            border-bottom: 1px solid #D7D7D7;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .mall-cart-summary__method-logo {
            img {
                width: auto;
                max-height: 80px;
                max-width: 100%;
                margin-bottom: 15px;
            }
        }

        .mall-address {
            p {
                font-size: 15px;
                color: $black;
            }
        }

        a {
            color: $red;
            text-decoration: underline;

            &:hover {
                color: $black;
            }
        }
    }

    .custom-checkbox {
        label {
            font-size: 14px;
            color: $cinza_escura;
        }

        .custom-control-input {
            &:checked {
                &~.custom-control-label {
                    &::before {
                        background-color: transparent;
                    }

                    &::after {
                        background-image: none;
                        content: '●';
                        color: #5CB0C5;
                        position: absolute;
                        top: 1px;
                        left: -19.5px;
                    }
                }
            }
        }

        .custom-control-label {
            &::before {
                border: 2px solid rgba($cinza_clara, .8) !important;
                box-shadow: none !important;
            }

        }
    }
}
