.checkbox_metodo_box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .radio_btn_checkout {
        background-color: transparent;
        border: 0;

        @media screen and (max-width: $tablet - 1) {
            padding-left: 0;
        }

        &.radio_btn_checkout__checked {
            .check_img {
                border: 2px solid $black;
                opacity: 1;
            }
        }

        .check_img {
            width: 114px;
            height: 78px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.5;
            border: 2px solid rgba($cinza_clara, .9);
            cursor: pointer;
            align-items: center;
            margin: 0 auto;

            .paypal-logo {
                width: auto;
                max-width: 80%;
                max-height: 70%
            }

            .visa-logo {
                width: 25px;
            }

            .american-logo {
                margin: 0 15px;
                width: 15px;
            }

            .mastercard-logo {
                width: 25px;
            }

            .mb-logo {
                width: 35px;
            }
        }
    }

    .mall-payment-method__text {
        width: 100%;

        .mall-payment-method__heading {
            .mall-payment-method__name {
                p {
                    font-weight: 300;
                    display: block;
                    text-transform: none;
                    font-size: 14px;
                    font-family: 'Raleway', sans-serif;
                    width: 100%;
                    text-align: center;
                    margin-top: 5px;
                }
            }
        }

        .mall-payment-method__toggle {
            width: 100%;
        }
    }
}

.btn_comprar {
    background-color: $black;
    color: $white;
    width: 100%;
    font-size: 14px;
    height: 45px;
    border-radius: 0;
    font-weight: 600;

    &:hover {
        background-color: $white;
        color: $black;
        border: 1px solid $black;
    }
}
