.total_checkout {
    h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 28px;
    }

    p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;

        &.encomenda_produto_name {
            color: $cinza_escura;
            font-weight: 400;
        }

        &.encomenda_produto_price {
            font-size: 15px;
            font-weight: 500;
        }

        &.encomenda_produto_total {
            text-transform: uppercase;
            font-size: 16px;
        }

        &.encomenda_produto_total_price {
            color: $pink;
            font-size: 20px;
            font-weight: 600;
        }





        &.total_price {
            color: $pink;
            font-weight: 600;
            font-size: 20px;
        }
    }

    hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
