<!--  Banner  -->
<div class="container-fluid container_banner_geral mb-5">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 my-auto">
                    <h1 class="mb-0 text-center">
                        {{titulo}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
