==
<div class="col-sm-6 col-md-4 col-lg-3 mb-4 card_vestido">
    <a href="{{'produto_page'|page}}" class="card text-center">
        <img class="card-img-top" src="{{'assets/img/fasil/vestidos/IMG2.png'|theme}}" alt="">
        <div class="card-body">
            <h4 class="card-title">
                Skinny short dress
            </h4>
            <p class="card-price mb-0">
                €17.99
            </p>
        </div>
    </a>
</div>