<div class="container container_footer footer_info">
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
        <div class="col-sm-6 mb-3 mb-lg-0 col-lg-3 d-lg-flex text-center align-items-center text-lg-left">
            <img src="{{'assets/img/icons/Delivery icon.png'|theme}}" alt="">
            <p class="mb-0">
                Entregas grátis
                <span>
                    Em todas as encomendas
                </span>
            </p>
        </div>
        <div class="col-sm-6 mb-3 mb-lg-0 col-lg-3 d-lg-flex text-center align-items-center text-lg-left">
            <img src="{{'assets/img/icons/Return icon.png'|theme}}" alt="">
            <p class="mb-0">
                Devoluções
                <span>
                    Veja a nossa politica
                </span>
            </p>
        </div>
        <div class="col-sm-6 mb-3 mb-lg-0 col-lg-3 d-lg-flex text-center align-items-center text-lg-left">
            <img src="{{'assets/img/icons/Payment icon.png'|theme}}" alt="">
            <p class="mb-0">
                Pagamento Seguro
                <span>
                    100% seguro
                </span>
            </p>
        </div>
        <div class="col-sm-6 mb-3 mb-lg-0 col-lg-3 d-lg-flex text-center align-items-center text-lg-left">
            <img src="{{'assets/img/icons/Support icon.png'|theme}}" alt="">
            <p class="mb-0">
                Suporte
                <span>
                    Pode contar connosco
                </span>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid container_footer footer_nav">
    <div class="row">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-3 text-center text-md-left box_logo_footer">
                    <img class="w-100" src="{{'assets/img/fasil/logo/logo_site.svg'|theme}}" alt="">
                </div>
                <div class="col-md-6 my-4 my-md-0 d-flex flex-row justify-content-center align-items-center">
                    <ul class="navbar-nav d-flex flex-column flex-md-row justify-content-center">
                        <li class="nav-item">
                            <a href="{{'home'|page}}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{'loja'|page({slug: 'luxurious'})}}">
                                Luxurious
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{'loja'|page({slug: 'gracious'})}}">
                                Gracious
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{'contactos'|page}}">
                                Contactos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{'faqs'|page}}">
                                Faq's
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 ml-md-auto footer_social_box">
                    <p class="footer_email">
                        <a target="_new" href="mailto:geral@fasil-onlineshop.com">
                            geral@fasil-onlineshop.com
                        </a>
                    </p>
                    <p class="footer_social mb-0">
                        <a target="_new" href="https://www.facebook.com/fasil.onlineshop/" title="@fasil.onlineshop">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a target="_new" href="https://twitter.com/FaSilonlineshop" title="@FaSilonlineshop">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a target="_new" href="https://www.instagram.com/fasil_onlineshop/" title="@Fasil.onlineshop">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container_footer footer_copyright py-1 fixed-bottom">
    <div class="row">
        <div class="col-12">
            <a href="" class="modal_footer_btn d-block text-center" data-toggle="modal" data-target="#exampleModal">
                Tem alguma duvida? Fale conosco.
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade container_contactos_form pt-0 modal_footer" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Fale Connosco
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form data-request="onSendMensagem">
                    <div class="form-group">
                        <input type="text" name="Contacto[nome]" class="form-control" placeholder="{{'O seu nome'|_}}" value="{{user.name}}">
                    </div>
                    <div class="form-group">
                        <input type="email" name="Contacto[email]" class="form-control"
                            placeholder="{{'O seu email'|_}}" value="{{user.email}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Contacto[tlm]" class="form-control" placeholder="{{'Telefone (facultativo)'|_}}">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="Contacto[mensagem]" rows="3"
                            placeholder="{{'A sua mensagem'|_}}"></textarea>
                    </div>
                    <button type="submit" class="btn">{{'Enviar'|_}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
