==
{##}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark flex-lg-column">
    <div class="navbar_brand_box w-100 position-relative">

        <!-- Redes Sociais -->
        <span class="redes_nav d-none d-md-block">
            <a target="_new" href="https://www.facebook.com/fasil.onlineshop/" title="@fasil.onlineshop">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a target="_new" href="https://twitter.com/FaSilonlineshop" title="@FaSilonlineshop">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a target="_new" href="https://www.instagram.com/fasil_onlineshop/" title="@Fasil.onlineshop">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </span>

        <!-- Logo Site -->
        <a class="navbar-brand" href="{{'home'|page}}">
            <img src="{{'assets/img/fasil/logo/logo_site.svg'|theme}}" alt="">
        </a>

        <!-- Carrinho, Locale Picker, Registo/Login -->
        <span>

            {% if not user %}
            <a class="login_nav d-none d-lg-inline-block" href="{{'login_registo'|page}}">
                {{'INICIAR SESSÃO/REGISTAR'|_}}
            </a>
            {% else %}
            <a class="login_nav d-none d-lg-inline-block" href="{{'dasboard_conta'|page}}">
                {{'Olá '|_}} {{user.username}}
            </a>
            <a class="login_nav d-none d-lg-inline-block" href="#" data-request="onLogout"
                data-request-data="redirect: '/'">
                {{'sair'|_}}
            </a>
            {% endif %}

            {% set cartCount = cart.products.count %}
            <a class="shopping_nav js-shopping-nav" href="{{'carrinho_compras'|page}}"
                data-bascket="{% if cartCount %}{{ cartCount }}{% else %}0{% endif %}">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
            {% if false %}
            <!-- Locale Picker -->
            {% if activeLocale == 'pt' %}
            <a class="language_nav" data-request="onSwitchLocale" data-request-data="locale: 'en'" href="#">
                EN
            </a>
            {% else %}
            <a class="language_nav" data-request="onSwitchLocale" data-request-data="locale: 'pt'" href="#">
                PT
            </a>
            {% endif %}
            {% endif %}
        </span>
    </div>

    <!-- Hamburger Mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Links Site -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if this.page.baseFileName == 'home' %} active {% endif %}" href="{{'home'|page}}">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{'loja'|page({slug: 'luxurious'})}}">
                    Luxurious
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{'loja'|page({slug: 'gracious'})}}">
                    Gracious
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if this.page.baseFileName == 'contactos' %} active {% endif %}"
                    href="{{'contactos'|page}}">
                    {{'Contactos'|_}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if this.page.baseFileName == 'faqs' %} active {% endif %}" href="{{'faqs'|page}}">
                    FAQ's
                </a>
            </li>

            <!-- Link Registo/Login Mobile -->
            <li class="nav-item">
                <a class="login_nav d-lg-none" href="{{'login_registo'|page}}">
                    {{'INICIAR SESSÃO/REGISTAR'|_}}
                </a>
            </li>

            <!-- Redes Sociais Mobile -->
            <span class="redes_nav d-md-none">
                <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </span>
        </ul>
    </div>
</nav>



{% put scripts %}
<script>
    /* Update cart products count in navbar */

    $(function () {
        var nbItems = '{{ cart.products.count }}';
        var $count = $('.js-shopping-nav');
        $.subscribe('mall.cart.productAdded', function (e, data) {
            // You have access to different values here.
            // console.log(data.item);
            // console.log(data.quantity);
            $count[0].setAttribute('data-bascket', ++nbItems);
        });
        $.subscribe('mall.cart.productRemoved', function (e, data) {
            // You have access to different values here.
            // console.log(data.item);
            // console.log(data.quantity);
            nbItems--;
            if (nbItems < 0) nbItems = 0;
            $count[0].setAttribute('data-bascket', nbItems);
        });
    });

</script>
{% endput %}
