<div class="mall-checkout-result mall-checkout-result--successful">
    <h3 class="mall-checkout-result__heading">{{ 'Obrigado pela sua encomenda'|_  }}</h3>

    {% if __SELF__.order.is_paid %}
        <p>{{ 'O seu pagamento foi concluído com sucesso.' |_ }}</p>
    {% else %}
        <p>{{ 'A sua encomenda foi criada. Ficamos aguardar o pagamento.' |_ }}</p>
    {% endif %}
    {% partial __SELF__ ~ '::resultactions' %}
</div>

{% if __SELF__.dataLayer %}
        {% partial __SELF__ ~ '::datalayer' %}
{% endif %}