.modal_addItem {
    .modal-content {
        background-color: #f7f7f7;
        border-radius: 0;
        border: 0;

        .modal-header {
            border-bottom: 0;

            h5 {
                color: $dimgray;
            }
        }

        .modal-footer {
            border-top: 0;

            @media screen and (max-width: $mobile) {
                flex-direction: column;
            }

            .btn {
                background-color: $dimgray;
                height: 40px;
                text-transform: uppercase;
                color: $pink;
                cursor: pointer;
                box-shadow: none !important;
                border: 0;
                border-radius: 0;
                line-height: 25px;

                @media screen and (max-width: $mobile) {
                    width: 100%;
                    text-align: center;

                    margin: {
                        top: 0;
                        bottom: 10px;
                        left: 0;
                        right: 0;
                    }

                    ;
                }

                &:hover {
                    background-color: $pink;
                    color: $dimgray;
                }

                &.btn-primary {
                    background-color: $pink;
                    color: $dimgray;

                    &:hover {
                        background-color: $dimgray;
                        color: $pink;
                    }
                }
            }
        }
    }
}
