.container_produto_page {

    // Images Produto Page
    .imgs_produto {
        .col-12 {

            @media screen and (min-width: $large) {
                .owl-carousel {
                    max-height: 100%;

                    .owl-stage-outer {
                        .owl-item {
                            text-align: center;

                            .item {
                                img {
                                    max-height: calc(100vh - 310px);
                                    width: auto;
                                    max-width: 100%;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }

            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                .owl-item {
                    .item {
                        img {
                            width: 100% !important;
                        }
                    }
                }
            }
        }

        span {
            &.produto_nav_btns {
                position: absolute;
                top: 50%;
                transform:
                    translateY(calc(-50% + -12px));
                z-index: 1000;
                background-color: $pink;
                width: 40px;
                height: 40px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: $white;
                    font-size: 25px;
                }

                &.customNextBtn {
                    right: 25px;
                }

                &.customPrevBtn {
                    left: 25px;
                }
            }
        }
    }

    // Detalhe Produto
    .info_produto {
        h1 {
            font-size: 1.6vw;
            background-color: $pink;
            display: inline-block;
            padding: 5px 10px;

            @media screen and (max-width: $tablet) {
                font-size: 24px;
            }

            &.titulo_produto {
                font-weight: 300;
                color: $dimgray;
                font-size: 27px;
            }

            &.preco_produto {
                font-weight: 600;
            }
        }

        .descricao_produto {
            font-size: 14px;
            color: $dimgray;
        }

        .color_box_product {
            .colors {
                input {
                    display: none;

                    &[type="radio"] {
                        &:checked+.swatch {
                            box-shadow: inset 0 0 0 2px white;
                        }
                    }
                }

                .swatch {
                    display: inline-block;
                    vertical-align: middle;
                    height: 20px;
                    width: 20px;
                    margin: 0 5px 0 0;
                    border: 1px solid $cinza;
                    border-radius: 50%;
                }
            }
        }

        .size_box_product {
            .sizes {
                input {
                    display: none;

                    &[type="radio"] {
                        &:checked+.swatch {
                            font-weight: bold;
                            color: $black;
                        }
                    }
                }

                .swatch {
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 14px;
                    margin: 0 5px;
                    color: $cinza;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

        .quantity_produto {
            .bootstrap-select {
                width: 130px !important;

                .dropdown-toggle {
                    max-width: 130px;
                    height: 50px;
                    background-color: rgba($cinza, .2) !important;
                    border-radius: 0;
                    border: none;
                    text-align: center;
                    padding: 0;
                    width: 100%;

                    &::after {
                        border: solid $cinza_escura;
                        border-width: 0 1px 1px 0;
                        position: absolute;
                        right: 3px;
                        top: 20px;
                    }

                    .filter-option {
                        min-width: 130px;
                        text-align: center;
                        color: $black;
                    }
                }

            }

            .btn_add_carrinho {
                color: $pink;
                background-color: $black;
                text-transform: uppercase;
                height: 50px;
                border-radius: 0;
                margin-left: 12px;
                width: calc(100% - 151px);

                &:hover {
                    background-color: $pink;
                    color: $black;
                }
            }
        }

        .social__product_btns {
            .SocialSharingButtons {
                text-align: left;
                display: inline-block;

                a {
                    background-color: $pink;
                    box-shadow: none;
                    margin-right: 12px;
                }
            }

            .instagram {
                background-color: $pink;
                box-shadow: none;
                margin-right: 12px;
                display: inline-block;
                width: 4em;
                border: none;
                padding: 0.5em;
                color: #FFF;
                outline: none;
                text-align: center;
            }
        }
    }
}
