.container_banner_geral {
    background-color: rgba($pink, .25);

    .row {
        height: 100px;

        @media screen and (max-width: $tablet) {
            height: 150px;
        }
    }

    h1 {
        color: $black;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        font-size: 1.3vw;

        @media screen and (max-width: $tablet) {
            font-size: 24px;
        }
    }
}
