.card_vestido {
    .card {
        height: 100%;
        border: 0;
        text-decoration: none;

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            display: block !important;
        }

        .card-img-top {
            border-radius: 0;
        }

        .card-body {
            .card-title {
                color: $dimgray;
                font-weight: 100;
                font-size: 15px;
            }

            .card-price {
                font-size: 16px;
                font-weight: 500;
                color: $dimgray;
            }
        }
    }
}
