.container_footer {
    &.footer_info {
        margin-bottom: 60px;

        hr {
            max-width: 60%;
            margin-bottom: 45px;
        }

        img {
            margin-bottom: 10px;

            @media screen and (min-width: $large) {
                margin-right: 25px;
                margin-bottom: 0;
            }
        }

        p {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 17px;
            color: $black;

            span {
                font-weight: 300;
                display: block;
                text-transform: none;
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
            }
        }
    }

    .container {
        @media screen and (max-width: $large) {
            max-width: 100%;
        }

        .box_logo_footer {
            @media screen and (max-width: $large) {
                img {
                    max-width: 170px;
                }
            }
        }
    }

    &.footer_nav {
        background-color: $black;
        padding-top: 65px;
        padding-bottom: 35px;

        @media screen and (max-width: $tablet) {
            padding-top: 40px;
            padding-bottom: 25px;
        }

        .modal_footer_btn {
            background-color: $black !important;
            color: $pink;
            font-size: 14px;
            text-decoration: none;
        }

        ul {
            li {
                @media screen and (max-width: $tablet) {
                    text-align: center;
                }

                a {
                    color: $pink;
                    text-transform: uppercase;
                    padding: 15px;
                    font-size: 18px;
                    text-decoration: none;

                    @media screen and (max-width: $large) {
                        font-size: 15px;
                    }
                }
            }
        }

        .footer_social_box {
            p {
                color: $pink;

                @media screen and (max-width: $tablet) {
                    text-align: center;
                }

                &.footer_number {
                    font-size: 19px;
                }

                &.footer_email {
                    margin-bottom: 30px;

                    a {
                        color: $pink;
                        text-decoration: none;
                        font-size: 16px;

                    }
                }

                a {
                    text-decoration: none;
                    margin-right: 19px;
                    font-size: 19px;

                    i {
                        color: $pink;
                    }
                }
            }
        }
    }

    &.footer_copyright {
        background-color: $pink;

        a {
            font-family: 'Raleway', sans-serif;
            color: $black;
            text-decoration: none;
        }
    }
}

// Modal Contactos

.modal_footer {
    .modal-content {
        background-color: #f7f7f7;
        border-radius: 0;
        border: 0;

        .modal-header {
            border-bottom: 0;

            h5 {
                color: $dimgray;
            }
        }
    }
}
