.navbar_spice {
    width: 100%;
    height: 96px;

    @media screen and (min-width: $large) {
        height: 126px;
    }
}

.navbar {
    background-color: $white;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (max-width: $large) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    span {
        &.redes_nav {
            a {
                color: $pink;
                text-decoration: none;
                margin: 0 11px;
                font-size: 18px;
                display: inline-block;
                margin-top: 15px;

                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    color: $dimgray;
                }
            }
        }
    }

    a {
        &.language_nav {
            text-transform: uppercase !important;
            color: $pink;
            font-size: 16px;

            @media screen and (min-width: $large) {
                margin-left: 21px !important;
            }

            &:hover {
                color: $dimgray;
            }
        }

        &.login_nav {
            @extend.language_nav;
            margin-left: 0 !important;

            @media screen and (min-width: $large) and (max-width: $extra-large + 100) {
                font-size: 13px !important;
            }
        }
    }

    .navbar_brand_box {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $tablet - 1) {
            justify-content: flex-end;
        }

        span {
            @media screen and (min-width: $tablet) and (max-width: $large - 1) {
                position: absolute;

                &:first-child {
                    @media screen and (min-width: $tablet) and (max-width: $large - 1) {
                        left: 75px;
                    }
                }

                &:last-child {
                    @media screen and (min-width: $tablet) and (max-width: $large - 1) {
                        right: 75px;
                    }
                }
            }

            a {
                color: $pink;
                text-decoration: none;
                margin: 0 11px;
                font-size: 15px;
                display: inline-block;

                &:hover {
                    color: $dimgray;

                    &.shopping_nav {
                        &::after {
                            background-color: $dimgray;
                        }
                    }
                }

                &.shopping_nav {
                    position: relative;

                    &::after {
                        position: absolute;
                        top: 0;
                        right: -21px;
                        min-width: 20px;
                        min-height: 20px;
                        background-color: $pink;
                        color: $white;
                        content: attr(data-bascket);
                        border-radius: 50%;
                        line-height: 19px;
                        text-align: center;
                        font-size: 13px;
                    }
                }
            }
        }

        .navbar-brand {
            color: $pink;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 36px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -25px;
            height: 110px;

            @media screen and (max-width: $large) {
                height: 80px;
            }

            @media screen and (max-width: $large) {
                top: -5px;
            }

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;


            }
        }
    }

    .navbar-toggler {
        position: absolute;
        top: 48px;
        left: 15px;
        transform: translateY(-20px);
        background-color: $pink;
    }

    .navbar-collapse {
        @media screen and (min-width: $large) {
            display: none !important;
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    text-transform: uppercase;
                    font-size: 16px;
                    color: $dimgray;
                    font-weight: 500;

                    &:hover {
                        color: $pink;
                    }

                    @media screen and (min-width: $large) {
                        padding-left: 25px;
                        padding-right: 25px;
                    }

                    &.active {
                        color: $pink;
                    }
                }
            }
        }
    }
}
