{##}
<div class="container-fluid container_contactos_form mt-5">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <h1>
                        {{'FALE CONNOSCO'|_}}
                    </h1>
                    <p>
                        {{'Deixe a sua mensagem e respondemos o mais breve possível'|_}}
                    </p>
                    {% flash %}
                        <p
                            data-control="flash-message"
                            class="flash-message fade {{ type }}"
                            data-interval="5">
                            {{ message }}
                        </p>
                    {% endflash %}
                    <form data-request="onSendMensagem">
                        <div class="form-group">
                            <input type="text" name="Contacto[assunto]" class="form-control" placeholder="{{'O seu nome'|_}}" value="Pedido Contacto" hidden>
                            <input type="text" name="Contacto[nome]" class="form-control" placeholder="{{'O seu nome'|_}}" value="{{user.name}}">
                        </div>
                        <div class="form-group">
                            <input type="email" name="Contacto[email]" class="form-control" placeholder="{{'O seu email'|_}}" value="{{user.email}}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Contacto[tlm]" class="form-control" placeholder="{{'Telefone (facultativo)'|_}}">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="Contacto[mensagem]" rows="3" placeholder="{{'A sua mensagem'|_}}"></textarea>
                        </div>
                        <button type="submit" class="btn">{{'Enviar'|_}}</button>
                    </form>
                </div>
                <div class="col-md-6 mt-5 mt-md-0 d-flex flex-column justify-content-center container_contactos_mapa">
                    <div class="row box_info_contacto h-100">
                        <div class="col-12 ">
                            <h1>
                                contactos
                            </h1>

                            <p>
                                <img class="mr-2" src="{{'assets/img/fasil/contactos/invite.png'|theme}}" alt="">
                                geral@fasil-onlineshop.com
                            </p>
                            <p class="contactos_social mb-0">
                                <a target="_new" href="https://www.facebook.com/fasil.onlineshop/" title="@fasil.onlineshop">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a target="_new" href="https://twitter.com/FaSilonlineshop" title="@FaSilonlineshop">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a target="_new" href="https://www.instagram.com/fasil_onlineshop/" title="@Fasil.onlineshop">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
