<div class="container container_contactos_mapa">
    <div class="row">
        <div class="col-md-5 col-lg-4 box_info_contacto">
            <div class="row">
                <div class="col-12">
                    <h1>
                        contactos
                    </h1>
                    <p>
                        <img class="mr-2" src="{{'assets/img/fasil/contactos/shipping.png'|theme}}" alt="">
                        1123 Rua simples
                        <span class="d-block mt-3 pl-4">
                            4012 - 055, Lisboa
                        </span>
                    </p>
                    <p>
                        <img class="mr-2" src="{{'assets/img/fasil/contactos/invite.png'|theme}}" alt="">
                        geral@fasil-onlineshop.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
