==
<input name="props[{{ item.property.hashId }}]"
       id="{{ item.property.hashId }}"
       data-id="{{ item.property.hashId }}"
       class="js-mall-property-selector"
       type="hidden"
       value="{{ propertyValue.hashId }}"
       data-mall-property>

        <div class="col-6 color_box_product">
            <label for="">
                Cor:
            </label>
            
            <!-- Lista Cores -->
            <div class="colors">
            {% for value in item.values %}
            
                <label>
                    <input 
                        type="radio"
                        name="color"
                        class="mall-option-selector mall-color-swatches__swatch"
                        data-target="#{{ item.property.hashId }}"
                        data-value="{{ value.hashId }}"
                        
                        title="{{ value.getAttribute('value').name }}"
                        {{ propertyValue.value == value.getAttribute('value') ? 'checked' : '' }}
                        >
                    <span 
                        class="swatch" 
                        style="background-color:{{ value.getAttribute('value').hex }};">
                    </span>
                </label>  
                
            {% endfor %}
            </div>   
            
        </div>