==
{##}
<div class="col-6 size_box_product quantity_produto">

    <div class="sizes">
        <div class="mall-product__property-stock text-red">
            Tamanho:
        </div>

        <select 
            class="selectpicker js-mall-property-selector"
            name="props[{{ item.property.hashId }}]"
            id="{{ item.property.hashId }}"
            data-id="{{ item.property.hashId }}"
            data-mall-property>
            
            {% for value in item.values %}
                {% if value.variant.stock != 0 %}
                    <option value="{{ value.hashId }}"
                        
                        {% if propertyValue.value == value.value %}
                            selected
                        {% endif %}
                    >
                        {{ value.value }}
                    </option>
                {% endif %}                
            {% endfor %}
        </select>       
    
        <div data-validate-for="quantity"></div>        
    </div>    
</div>