description = "not working with input"
==
<div class="col-6 size_box_product">
    <label for="">
        Tamanho:
    </label>

    <!-- Lista Tamanhos -->
<input name="props[{{ item.property.hashId }}]"
       id="{{ item.property.hashId }}"
       data-id="{{ item.property.hashId }}"
       class="js-mall-property-selector"
       type="hidden"
       value="{{ propertyValue.hashId }}"
       data-mall-property>
       
       <div class="sizes">
        
        {% for value in item.values %}
            <label>
                <input
                    type="radio"
                    name="props[{{ item.property.hashId }}]"
                    class="mall-option-selector mall-color-swatches__swatch"
                    data-target="#{{ item.property.hashId }}"
                    data-value="{{ value.hashId }}"
                    
                    title="{{ value.getAttribute('value').name }}"
                    {{ propertyValue.value == value.getAttribute('value') ? 'checked' : '' }}
                    >
                    
                    <span class="swatch {% if propertyValue.value == value.value %}active{% endif %}">{{ value.value }}</span>
                
            </label>
        {% endfor %}
    </div>

</div>