==
<form> 
        <div class="form-group mb-4">
            <label for="id">
                {{'Pais'|_}}*
            </label>
            <select name="id" class="selectpicker">
                {% for method in __SELF__.methods %}
                {% set isActiveMethod = cart.shipping_method.id == method.id %}
                <option 
                    value="{{ method.id }}"
                    {% if isActiveMethod %}selected{% endif %}>
                    {{ method.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button 
            class="btn mt-4" 
            data-request="{{ __SELF__ }}::onChangeMethod"
            data-request-redirect="{{ this.page.url }}"
            data-attach-loading>        
            {{'UPDATE TOTALS'|_}}
        </button>
</form>