{##}
<form data-request="onApplyDiscount"
      data-request-validate
      data-request-flash
      data-request-success="$.publish('mall.discount.applied')">
    <div class="form-group">
        <input name="code" type="text" id="code" 
               class="form-control"
               placeholder="{{ 'Código Promocional'|_ }}">
        <div data-validate-for="code"></div>
    </div>
        <button type="submit" class="btn border-0">{{'Usar'|_}}</button>
</form>