<div class="container container_faqs">
    <div class="row">
        <div class="col-12">
            <div id="accordion">
                {% set faq = faqs|first %}
                {% for pergunta in faq.perguntas %}
                    {% partial 'faqs/faqs_card' pergunta = pergunta loop = loop %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
