<div class="card">
    <div class="card-header" id="faq-{{pergunta.id}}">
        <h5 class="mb-0">

            <!-- Titulo Faq -->
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{pergunta.id}}" aria-expanded="{% if loop.index == '1' %}true{% else %}false{% endif %}"
                aria-controls="collapse{{pergunta.id}}">
                
                <!-- Arrow -->
                <span></span>
                {{loop.index}}
                {{pergunta.pergunta}}
            </button>
        </h5>
    </div>

    <!-- Conteudo Faq -->
    <div id="collapse{{pergunta.id}}" class="collapse {% if loop.index == '1' %} show {% endif %}" aria-labelledby="faq-{{pergunta.id}}" data-parent="#accordion">
        <div class="card-body">
            {{pergunta.resposta|raw}}
        </div>
    </div>
</div>
