{##}
<div class="carrinho_shipping">

<form data-request="{{ __SELF__ }}::onUpdateAddress"
      data-request-validate
      data-request-success="$.publish('mall.address.update')">
    <div class="form-group">
        <label for="mall_address_id">{{ 'Selecionar Endereço' |_ }}</label>
        <select class="form-control" id="mall_address_id" name="id">
            {% for address in addresses %}
                <option value="{{ address.id }}" {{ address.id == activeAddress ? 'selected' : '' }}>
                    {{ address.oneLiner }}
                </option>
            {% endfor %}
            <option value="new">
                {{ 'Novo Endereço' |_ }}
            </option>
        </select>
        <div data-validate-for="id"></div>
    </div>
        <button class="btn border-0 js-change-address-apply" type="submit">
            {{ 'Aplicar' |_  }}
        </button>
    <div class="mall-form-actions">
        <a href="{{ __SELF__.addressPage | page({address: address.hashId, redirect: 'checkout'}) }}"
           class="mall-btn mall-btn--link mall-btn--sm">
            {{ 'Editar' |_ }}
        </a>
    </div>
</form>
</div>
