
<div class="mall-checkout-result__actions">
    <a href="{{ __SELF__.accountPage | page({page: 'orders'}) }}" class="mall-btn mall-btn--primary">
        {{ 'Ver as minhas encomendas' |_ }}
    </a>
</div>