<div class="mall-cart-summary__method-logo">
    {% if __SELF__.cart.shipping_method.logo %}
        <img src="{{ __SELF__.cart.shipping_method.logo.thumb(150, 'auto') }}" alt=""/>
    {% else %}
        {{ __SELF__.cart.shipping_method.name }}
    {% endif %}
</div>

{% if false %}
<p class="mall-cart-summary__action">
    <a href="{{ __SELF__.stepUrl('shipping') }}">
        {{'Alterar'|_}}
    </a>
</p>
{% endif %}