{##}
<div class="mall-cart-summary">
    <div class="row">
            <div class="col-md-3">
                <div class="mall-cart-summary__billing-address">
                    <h4 class="mall-cart-summary__heading">Dados de Faturação</h4>
                    {% component 'billingAddressSelector' %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="mall-cart-summary__shipping-address">
                    <h4 class="mall-cart-summary__heading">{{ 'Dados de Envio'|_ }}</h4>
                    {% component 'shippingAddressSelector' %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="mall-cart-summary__payment-method">
                    <h4 class="mall-cart-summary__heading">{{ 'Método de Pagamento'|_ }}</h4>
                    <div>
                        {% partial __SELF__ ~ '::paymentmethod' %}
                    </div>
                </div>            
            </div>
            <div class="col-md-3">
                <div class="mall-cart-summary__shipping-method">
                    <h4 class="mall-cart-summary__heading">{{ 'Método de Envio'|_ }}</h4>
                    <div>
                        {% partial __SELF__ ~ '::shippingmethod' %}
                    </div>
                </div>            
            </div>
    </div>
</div>