.container_dasboard {
    margin-top: 80px;
    margin-bottom: 120px;

    .dasboard_box {
        h1 {
            font-size: 25px;
            font-weight: 600;
            position: relative;
            text-transform: capitalize;
            margin-bottom: 20px;

            @media screen and (max-width: $tablet + 224) {
                font-size: 22px;
            }

            &::before {
                content: '';
                width: 50px;
                height: 2px;
                background-color: $red;
                position: absolute;
                bottom: -15px;
                left: 0;
            }
        }

        h2 {
            font-size: 20px;
            text-transform: capitalize;
            margin-top: 20px;
        }

        hr {
            margin-top: 0;
            margin-bottom: 30px;
        }

        p {
            color: $cinza;
            font-size: 14px;

            &.titulo {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                color: $black;
                margin-bottom: 26px;
            }

            span {
                font-size: 14px;
                color: $black;
                margin-right: 5px;
            }
        }

        a {
            font-size: 16px;
            text-decoration: underline;
            margin-right: 5px;
            text-transform: capitalize;
            color: $red;

            &:hover {
                color: $black;
                font-weight: 600;
            }
        }

        // Listagem Moradas - Pagina As Minhas Moradas
        .listagem_moradas {
            p {
                color: $dimgray;

                span {
                    font-weight: 500;
                    font-size: 16px;
                    display: block;
                }
            }

            .btn_a {
                font-size: 15px;
                color: $pink;
                text-decoration: none;
                box-shadow: none;
                text-transform: uppercase;

                &:hover {
                    color: $black;
                }
            }

            .btn_a--rev {
                @extend .btn_a;
                background-color: $pink !important;
                color: $black !important;

                &:hover {
                    background-color: $black !important;
                    color: $pink !important;
                }
            }
        }
    }
}
