.dasboard_box {
    .edit_form {

        .form-group,
        .form-row {
            label {
                font-size: 14px;
                color: $cinza;
            }

            .form-control {
                height: 45px;
                border-radius: 0;
                box-shadow: none !important;
                margin-bottom: 25px;
            }

            .custom-control {
                margin-bottom: 15px;

                label {
                    line-height: 28px;
                    padding-left: 14px;
                }

                .custom-control-input {
                    &:checked {
                        &~.custom-control-label {
                            &::before {
                                background-color: $pink;
                            }
                        }
                    }
                }

                .custom-control-label {

                    &::before,
                    &::after {
                        width: 20px;
                        height: 20px;
                    }

                    &::before {
                        border: 1px solid $cinza_clara;
                        box-shadow: none !important;
                    }
                }
            }

            .btn {
                color: $pink;
                text-transform: uppercase;
                font-size: 15px;
                background-color: $black;
                width: 100%;
                max-width: 150px;
                height: 46px;
                border: 0;
                box-shadow: none !important;

                &:hover {
                    background-color: $pink;
                    color: $black;
                }
            }
        }
    }
}
