.container_dasboard {
    .nav_dasboard {
        a {
            display: block;
            margin-bottom: 25px;
            font-size: 16px;
            font-weight: 600;
            color: $pink;
            text-transform: uppercase;
            letter-spacing: 1px;

            @media screen and (max-width: $large) {
                font-size: 13px;
            }

            &:hover {
                text-decoration: none;
                color: $black;
            }

            &.active {
                font-weight: bold;
                color: $black;
            }

            span {
                margin-right: 7px;
                font-size: 14px;
            }
        }
    }
}
