.dasboard_box {
    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
        border: 1px solid $cinza_clara;

        @media screen and (max-width: $tablet + 224) {
            border: 0;
        }

        thead {
            background-color: #413444;
            height: 60px;

            @media screen and (max-width: $tablet + 224) {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
        }

        th {
            text-align: center;
            text-transform: uppercase;
            font-size: 13px;
            color: $pink;
            height: 60px;

            &:first-child {
                text-transform: capitalize;
            }
        }

        tr {
            border-bottom: 1px solid $cinza_clara;
            padding: .35em;

            @media screen and (max-width: $tablet + 224) {
                border: 1px solid $cinza;
                display: block;
                margin-bottom: 20px;
                background-color: #413444;
            }

            &.product_row {
                border-bottom: 1px solid $cinza_clara;
            }

            &.mall-orders-list__details {
                td {
                    text-align: left;

                    .mall-order-details__row {

                        .mall-order-details__detail {
                            margin-bottom: 15px;
                            border-bottom: 1px solid $pink;
                            padding-bottom: 15px;

                            h5 {
                                color: $white;

                                @media screen and (min-width: $large + 1) {
                                    color: #413444;
                                }
                            }

                        }
                    }
                }
            }
        }

        th,
        td {
            padding: .625em;
        }

        td {
            text-align: center;
            height: 60px;

            @media screen and (max-width: $tablet + 224) {
                border-bottom: 1px solid $cinza;
                display: block;
                text-align: right;
                height: auto;

                &:last-child {
                    border-bottom: 0;
                }

                &::before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $pink;
                    font-size: 14px;
                }
            }

            p {
                font-size: 14px;
                margin-bottom: 0;

                @media screen and (max-width: $tablet + 224) {
                    color: $pink !important;
                }
            }

            span {
                &.view {
                    background-color: #413444;
                    color: $pink;
                    font-size: 12px;
                    text-decoration: none !important;
                    padding: 10px 25px;
                    border-radius: 18px;
                    cursor: pointer;

                    @media screen and (max-width: $tablet + 224) {
                        background-color: $pink;
                        color: #413444;
                        padding: 7px 20px;
                    }
                }
            }
        }
    }
}
