.container_contactos_form {
    background-color: rgba($cinza_clara, .2);

    padding: {
        top: 80px;
        bottom: 80px;
    }

    h1 {
        font-size: 30px;
        color: $dimgray;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }

    p {
        color: $dimgray;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 30px;
    }

    form {
        textarea {
            &.form-control {
                height: auto;
                margin-bottom: 30px;
            }
        }

        .form-control {
            height: 40px;
            border: 1px solid rgba($cinza_clara, .5);
            border-radius: 0;
            padding-left: 30px;
            box-shadow: none !important;
            resize: none;
            margin-bottom: 20px;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
                color: $cinza;
                /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
                color: $cinza;
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
                color: $cinza;
            }
        }

        .btn {
            background-color: $dimgray;
            height: 40px;
            text-transform: uppercase;
            color: $pink;
            width: 100%;
            max-width: 170px;

            &:hover {
                background-color: $pink;
                color: $dimgray;
            }
        }
    }
}
