.container_contactos_mapa {
    .box_info_contacto {
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1;
        }

        .col-12 {
            background-color: $pink;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 60px;
            padding-right: 60px;

            h1 {
                color: $dimgray;
                font-size: 30px;
                text-transform: uppercase;
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                margin-bottom: 25px;
            }

            p {
                color: $white;
                font-size: 16px;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;

                &.contactos_social {
                    a {
                        text-decoration: none;
                        margin: 0 15px;

                        &:first-child {
                            margin-left: 0;
                        }

                        i {
                            color: $white;
                            font-size: 23px;
                        }
                    }
                }
            }
        }
    }
}
