description = "products_item"
==
<div class="card_vestido {% if this.page.BaseFileName == 'produto_page' %} w-100 {% else %} col-sm-6 col-md-4 col-lg-3 mb-4 {% endif %}">

    <a class="card text-center" href="{{ 'produto_page'|page({slug: item.slug, variant: item.variantId}) }}"
       data-mall-item-id="{{ item.prefixedId }}"
    >
        {% partial __SELF__ ~ '::image' image=item.image %}
        
        <div class="card-body">
            
                <h4 class="card-title">
                    {{ item.name }}
                </h4>
            
            
            {% set price = item.price() %}
            <p class="card-price mb-0">
                {{ price.string | raw }}
            </p>
        </div>
    </a>
</div>