==
{% if __SELF__.paginate %}

    <nav id="nav-paginate" aria-label="Page navigation example">
<!--         <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="#">test</a></li>
</ul> -->
    {{ items | raw }}
    </nav>
    
{% endif %}