==
{##}
<div class="col-md-6 info_produto">

    <form data-request="onAddToCart" data-request-success="$.publish('mall.cart.productAdded', data)"
        data-request-validate id="mall-add-to-cart">

        {% if false %}
            <h1 class="titulo_produto my-4">
                {{ item.name }}
            </h1>
        {% endif %}
        <h1 class="preco_produto mb-4">
            {{ item.price() }}
        </h1>
        <p class="descricao_produto my-4">
            {{ item.description|raw }}
        </p>

        <!-- Tamanho -->
        <div class="row">
            {% if props.count > 0 %}
                {% partial __SELF__ ~ '::properties' props=props %}
            {% endif %}
        </div>

        <!-- Relacionados -->
        {% if item.accessories|length > 0 %}
            {% partial 'produto/relacionados' produto = item %}
        {% endif %}

        <hr>
        <div class="row quantity_produto">

            <div class="col-12">
                {% partial __SELF__ ~ '::addtocart' item=item %}
            </div>

        </div>
        <hr>

    </form>

    <!-- Component Social Sharing Buttons -->
    <div class="row social__product_btns">
        <div class="col-12">
            {% component 'ssbuttonsnb' %}
            <!-- WhatsApp Share -->
            <a class="instagram d-lg-none" target="_new" href="whatsapp://send?text={{ this.page.id | page }}" title="@Fasil.onlineshop">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
            <!-- Instagram Share -->
            <a class="instagram" target="_new" href="https://www.instagram.com/fasil_onlineshop/" title="@Fasil.onlineshop">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>



{% partial __SELF__ ~ '::scripts' %}

{% if __SELF__.dataLayer %}
{% partial __SELF__ ~ '::datalayer' %}
{% endif %}

{% put scripts %}
<script>
    var addItem = document.getElementById('mall-add-to-cart');
    addItem.onsubmit = function () {
        $('#ModalAddItem').modal('show')
    };
</script>
{% endput %}

<div class="modal fade modal_addItem" id="ModalAddItem" tabindex="-1" role="dialog" aria-labelledby="ModalAddItemLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalAddItemLabel">
                    {{'Produto adicionado ao carrinho'|_}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer mt-5">
                <a class="btn btn-secondary" data-dismiss="modal">
                    {{'Continuar a comprar'|_}}
                </a>
                <a class="btn btn-primary" href="{{'carrinho_compras'|page}}">
                    {{'Ir para carrinho'|_}}
                </a>
            </div>
        </div>
    </div>
</div>
