==
<div class="col-md-8 dasboard_box">
    <h1>
        {{'A Minha Conta'|_}}
    </h1>
    <div class="row mb-4">
        <div class="col-12">
            <h2>
                {{'Informações Pessoais'|_}}
            </h2>
            <hr>
            <p class="titulo">
                {{'OS MEUS CONTACTOS'|_}}
            </p>

            <!-- User Name -->
            <p>
                {{ user.name }} {{ user.surname }}
            </p>

            <!-- User Email -->
            <p>
                {{ user.email }}
            </p>

            <span>
                <a href="{{'dasboard_edit_info'|page}}">
                    {{'Editar'|_}}
                </a>
                /
                <a href="">
                    {{'Alterar Password'|_}}
                </a>
            </span>
        </div>
    </div>
    
    <!-- Endereços User -->
    <div class="row">
        <div class="col-12">
            <h2>
                {{'Endereços'|_}}
            </h2>
            <hr>
        </div>
        
        {% component 'mallAddressList' %}
        
        </div>
        
    </div>
</div>