<div class="col-md-8 dasboard_box">
    <h1>
        {{'As Minhas Encomendas'|_}}
    </h1>
    <div class="row mb-4">
        <div class="col-12 pt-5">
            <!-- Tabela Encomendas -->
            <table>
                <thead>
                    <tr>
                        <th scope="col">{{'Ref'|_}}</th>
                        <th scope="col">{{'DATA'|_}}</th>
                        <th scope="col">{{'PARA'|_}}</th>
                        <th scope="col">{{'Total'|_}}</th>
                        <th scope="col">{{'ESTADO'|_}}</th>
                        <th scope="col">{{'ESTADO'|_}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="product_row">
                        <td data-label="ref">
                            <p>
                                000000262
                            </p>
                        </td>
                        <td data-label="data">
                            <p>
                                19/12/2018
                            </p>
                        </td>
                        <td data-label="para">
                            <p>
                                Just Martin
                            </p>
                        </td>
                        <td data-label="total">
                            <p>
                                € 19.99
                            </p>
                        </td>
                        <td data-label="total">
                            <p>
                                € 19.99
                            </p>
                        </td>
                        <td data-label="view">
                            <a class="view" href="">
                                View
                            </a>
                        </td>
                    </tr>
                    <tr class="product_row">
                        <td data-label="ref">
                            <p>
                                000000262
                            </p>
                        </td>
                        <td data-label="data">
                            <p>
                                19/12/2018
                            </p>
                        </td>
                        <td data-label="para">
                            <p>
                                Just Martin
                            </p>
                        </td>
                        <td data-label="total">
                            <p>
                                € 19.99
                            </p>
                        </td>
                        <td data-label="total">
                            <p>
                                € 19.99
                            </p>
                        </td>
                        <td data-label="view">
                            <a class="view" href="">
                                View
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
