==
{##}
<div class="col-md-4 nav_dasboard">
    <a class="{% if this.param.page == 'profile' %} active {% endif %}" href="{{'dasboard_conta'|page({page: 'profile'})}}">
        <span class="ti-user"></span>
        {{'a minha conta'|_}}
    </a>
    <a class="{% if this.param.page == 'addresses' %} active {% endif %}" href="{{'dasboard_conta'|page({page: 'addresses'})}}">
        <span class="ti-agenda"></span>
        {{'As Minhas Moradas'|_}}
    </a>
    <a class="{% if this.param.page == 'orders' %} active {% endif %}"
        href="{{'dasboard_conta'|page({page: 'orders'})}}">
        <span class="ti-shopping-cart-full"></span>
        {{'as minhas encomendas'|_}}
    </a>
    <a href="" data-request="onLogout" data-request-data="redirect: '/'">
        <span class="ti-unlock"></span>
        {{'sair'|_}}
    </a>
</div>