<div class="mall-cart__empty">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>
                    {{'O seu carrinho está vazio'|_}}
                </h5>
            </div>
        </div>
    </div>
</div>