==
<div class="mall-cart__wrapper">
    <div class="mall-table-overflow" style="overflow-y: auto">
        <table class="mall-cart__table">
            <thead>
                {% partial __SELF__ ~ '::table_header' %}
            </thead>
            <tbody>
                {% for product in cart.products %}
                    {% partial __SELF__ ~ '::table_entry' product=product %}
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>