==
<tr>
    <th scope="col">{{'Produto'|_}}</th>
    <th scope="col">{{'Tamanho'|_}}</th>
    <th scope="col">{{'Preço'|_}}</th>
    <th scope="col">{{'Quantidade'|_}}</th>
    <th scope="col">{{'Total'|_}}</th>
</tr>