==
{##}
<div class="container">
    <div class="row">
        <div class="col-12 tabela_vendas">
            {% partial __SELF__ ~ '::table_entries' %}
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-5 mt-5 carrinho_shipping">
            {% partial 'carrinho/shipping' %}
        {% if __SELF__.showDiscountApplier and not step %}
            {% partial __SELF__ ~ '::discountapplier' %}
        {% endif %}

        </div>
        <div class="col-md-6 mt-5 offset-md-1 carrinho_total">
            {% partial 'carrinho/total' %}
        </div>
    </div>
</div>