<tr style="display: none" class="mall-orders-list__details">
    <td colspan="5">
        <div class="mall-order-details">
            <div class="mall-order-details__row row mx-0">
                <div class="mall-order-details__detail col-md-6">
                    <h5>{{'Estado do pedido'|_}}</h5>
                    <p>
                        {{ order.order_state_label }}
                    </p>
                </div>
                <div class="mall-order-details__detail col-md-6">
                    <h5>{{'Estado do pagamento'|_}}</h5>
                    {% if order.payment_state_label == 'Payment pending' %}
                        <p>
                            Pendente
                        </p>
                    {% elseif order.payment_state_label == 'Payment failed' %}
                        <p>
                            Falhado
                        </p>
                    {% elseif order.payment_state_label == 'Payment refunded' %}
                        <p>
                            Devolvido
                        </p>
                    {% elseif order.payment_state_label == 'Paid' %}
                        <p>
                            Pago
                        </p>
                    {% endif %}
                    {% if not order.isPaid %}
                        {% if order.payment_method.instructions %}
                            <div class="mall-order-details__instructions">
                                <p>
                                    {{ order.payment_method.renderInstructions(order) | raw }}
                                </p>
                            </div>
                        {% endif %}
                        <br/>
                        <a href="{{ __SELF__.paymentLink }}?order={{ order.hashId }}">
                            {{'Pagar este pedido agora'|_}}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="mall-order-details__row row mx-0">
                <div class="mall-order-details__detail col-md-6">
                    <h5>{{'Método de envio'|_}}</h5>
                    <p>
                        {{ order.shipping.method.name }}
                    </p>
                </div>
                <div class="mall-order-details__detail col-md-6">
                    <h5>{{'Método de Pagamento'|_}}</h5>
                    <p>
                        {{ order.payment_method.name }}
                    </p>
                </div>
            </div>
            {% if order.tracking_number or order.tracking_url %}
                <div class="mall-order-details__row row mx-0">
                    <div class="mall-order-details__detail col-md-6">
                        <h5>{{ 'offline.mall::frontend.shipping_tracking' | trans }}</h5>
                        {% if order.tracking_url %}
                            <a href="{{ order.tracking_url }}" target="_blank"
                               rel="noopener nofollow">
                                {{ order.tracking_url }}
                            </a>
                            {% if order.tracking_number %}
                                <br/>
                            {% endif %}
                        {% endif %}
                        {% if order.tracking_number %}
                            {{ order.tracking_number }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="mall-order-details__row row mx-0">
                <div class="mall-order-details__detail col-md-6">
                    <h5>{{'Dados de Envio'|_}}</h5>
                    {% partial __SELF__ ~ '::address' address=order.shipping_address %}
                </div>
                <div class="mall-order-details__detail col-md-6">
                    <h5>{{'Dados de Faturação'|_}}</h5>
                    {% partial __SELF__ ~ '::address' address=order.billing_address %}
                </div>
            </div>

            <div class="mall-order-details__product-list">
                {% partial __SELF__ ~ '::productlist' products=order.products %}
            </div>
        </div>
    </td>
</tr>
