.carrinho_shipping {
    h1 {
        text-transform: uppercase;
        font-size: 22px;
    }

    form {
        display: flex;
        flex-direction: column;

        .form-group {
            label {
                font-size: 18px;
                font-family: 'Raleway', sans-serif;
                margin-bottom: 15px;
            }

            input {
                border: 1px solid $cinza_clara;
                border-radius: 0;
                height: 45px;
            }
        }

        button {
            margin-left: auto;
            height: 46px;
            background-color: $dimgray;
            color: $pink;
            text-transform: uppercase;
            font-size: 14px;
            border-radius: 0;
            font-weight: 500;

            @media screen and (min-width: $large) {
                width: 44%;
            }

            &:hover {
                background-color: $pink;
                color: $dimgray;
            }
        }
    }
}
