.tabela_vendas {
    @media screen and (max-width: $tablet) {
        margin-top: 15px;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;

        @media screen and (max-width: $tablet + 224) {
            border: 0;
        }

        thead {
            @media screen and (max-width: $tablet + 224) {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
        }

        tr {
            border-bottom: 1px solid $cinza_clara;
            padding: .35em;

            @media screen and (max-width: $tablet + 224) {
                border: 1px solid $cinza;
                display: block;
                margin-bottom: .625em;
            }

            &.product_row {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }

        th,
        td {
            padding: .625em;
        }

        td {
            text-align: center;
            height: 150px;

            @media screen and (max-width: $tablet + 224) {
                border-bottom: 1px solid $cinza;
                display: block;
                text-align: right;
                height: auto;

                &:last-child {
                    border-bottom: 0;
                }

                &::before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .cancel_row {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 6px;
                width: 25px;
                height: 25px;
                border: 1px solid $cinza_clara;
                cursor: pointer;

                &:hover {

                    &::before,
                    &::after {
                        background: $pink;
                    }
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 15px;
                    top: 50%;
                    left: 4px;
                    margin-top: -1px;
                    background: $cinza;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }

                &.pointy {

                    &::Before,
                    &::after {
                        width: 200%;
                        left: -50%;
                    }
                }
            }

            p {
                font-size: 14px;
                margin-bottom: 0;

                &.preco {
                    font-weight: 600;
                }
            }

            .custom-select {
                max-width: 90px;
                font-family: 'Raleway', sans-serif;
                border-radius: 0;
                background-color: rgba(149, 152, 154, 0.2) !important;
                border: 0;

                .dropdown-toggle {
                    text-align: center;
                    border: 1px solid $black;
                    height: 30px;
                    padding: 0;

                    &::after {
                        position: absolute;
                        right: 13px;
                        top: 8px;
                        border: solid $black;
                        border-width: 0 1px 1px 0;
                        margin-right: 0;
                    }

                    .filter-option {
                        min-width: 100%;
                        text-align: center;
                        color: $black;
                    }
                }
            }

            table {
                border: 0;

                &.carrinho_produto {
                    th {
                        text-align: left;

                        img {
                            width: 100%;
                        }

                        &:first-child {
                            width: 100px;
                        }
                    }

                    span {
                        font-size: 14px;
                        display: block;
                        color: $dimgray;
                        font-weight: 400;
                        font-family: 'Poppins', sans-serif;
                        text-transform: none;

                        &.name_produto {
                            color: $black;
                            font-weight: 500;
                        }
                    }
                }

                tr {
                    border: 0;
                }
            }
        }

        th {
            letter-spacing: .1em;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
            font-size: 18px;

            &:first-child {
                width: 30%;
                text-align: left;
            }
        }
    }
}
