.carrinho_total {
    h1 {
        text-transform: uppercase;
        font-size: 22px;
    }

    .total_row {
        p {
            margin-bottom: 0;
            font-size: 14px;

            &.sub_total_price {
                font-size: 18px;
                font-weight: 600;
            }

            &.total_price {
                color: $pink;
                font-weight: 600;
                font-size: 20px;
            }
        }

        hr {
            margin-top: 14px;
            margin-bottom: 20px;
        }
    }

    .total_btn {
        margin-left: auto;
        height: 46px;
        background-color: $pink;
        color: $dimgray;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 0;
        font-weight: 500;
        line-height: 33px;
        text-decoration: none;
        outline: none !important;
        box-shadow: none !important;

        @media screen and (min-width: $large) {
            width: 50%;
        }

        &:hover {
            background-color: $dimgray;
            color: $pink;
        }
    }
}
