{##}
<div class="mall-property-group sort_by_filter">
    <div class="mall-property-group__name mb-2" for="mall-sorter">
        {{'Ordenar Por:'|_ }}
    </div>
    <div class="mall-filter">
        <div class="mall-form-control">
            <select name="sort" id="mall-sorter" class="js-mall-select-filter selectpicker">
                <option selected value="">
                    Ordenar 
                </option>
                <option value="bestseller">
                    Mais Vendidos
                </option>
                <option value="latest">
                    Mais Recentes
                </option>
                {% if false %}
                    <option value="price_low">
                        Preço Baixo
                    </option>
                    <option value="price_high">
                        Preço Alto
                    </option>
                {% endif %}
                <option value="oldest">
                    Mais Antigos
                </option>
            </select>
        </div>
    </div>
</div>
