.container_login_registo {
    margin-bottom: 150px;

    h1 {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 75px;

        @media screen and (max-width: $tablet) {
            font-size: 17px;
        }
    }

    form {
        label {
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 15px;

            @media screen and (max-width: $tablet) {
                font-size: 15px;
            }
        }

        .form-control {
            height: 50px;
            border: 1px solid $cinza_clara;
            border-radius: 0;
            box-shadow: none !important;
            margin-bottom: 25px;

            @media screen and (max-width: $tablet) {
                height: 47px;
            }
        }

        select {
            background-color: white;
            border: 1px solid $cinza_clara;
            border-radius: 0px;
            display: block;
            font: inherit;
            height: 50px;
            padding: 0.5em 3.5em 0.5em 1em;

            /* reset */

            margin: 0;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image:
                linear-gradient(45deg, transparent 50%, $white 50%),
                linear-gradient(135deg, $white 50%, transparent 50%),
                linear-gradient(to right, $pink, $pink);
            background-position:
                calc(100% - 25px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px),
                100% 0px;
            background-size:
                8px 8px,
                10px 9px,
                50px 50px;
            background-repeat: no-repeat;
        }

        a {
            text-transform: uppercase;
            color: $black;
            font-family: 'Raleway', sans-serif;
            text-decoration: underline;
            font-size: 12px;
            margin-bottom: 25px;
            margin-top: 15px;
            display: inline-block;

            @media screen and (max-width: $tablet) {
                font-size: 10px;
            }
        }

        .btn {
            background-color: $black;
            color: $pink;
            text-transform: uppercase;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            font-family: 'Raleway', sans-serif;
            border-radius: 0;
            height: 50px;
            box-shadow: none !important;
            letter-spacing: 1px;

            &:hover {
                background-color: $pink;
                color: $black;
            }

            @media screen and (max-width: $tablet) {
                height: 47px;
                font-size: 13px;
            }
        }
    }
}
