.container_faqs {
    .card {
        border: 0;

        .card-header {
            background-color: transparent;
            border: 0;

            h5 {
                .btn {
                    font-size: 18px;
                    color: $black;
                    text-decoration: none;
                    font-weight: 500;
                    position: relative;

                    @media screen and (max-width: $tablet) {
                        font-size: 15px;
                    }

                    &[aria-expanded="true"] {
                        span {
                            &::before {
                                transform: rotate(-135deg);
                                -webkit-transform: rotate(-135deg);
                                margin: -5px;

                                @media screen and (min-width: $tablet + 1) {
                                    margin: -3px;
                                }
                            }
                        }
                    }

                    &[aria-expanded="false"] {
                        span {
                            &::before {
                                transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                                margin: 5px;

                                @media screen and (min-width: $tablet + 1) {
                                    margin: 3px;
                                }
                            }
                        }
                    }

                    span {
                        width: 30px;
                        height: 30px;
                        border: 1px solid $cinza_clara;
                        display: inline-block;
                        margin-right: 15px;

                        &::before {
                            content: '';
                            border: solid $pink;
                            border-width: 0 1px 1px 0;
                            display: inline-block;
                            padding: 5px;
                        }
                    }
                }
            }
        }

        .card-body {
            > p {
                color: $cinza_escura;
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
                line-height: 24px;
                padding-left: 34px;
    
                @media screen and (max-width: $tablet) {
                    font-size: 12px;
                }
            }
        }
    }
}
