.container_about {
    background-color: rgba($pink, .25);

    .container {
        .row {
            @media screen and (min-width: $tablet) {
                height: 668px;
            }

            .about_titulo {
                font-size: 33px;
                font-weight: bold;
            }

            .about_subtitulo {
                font-weight: 300;
                font-size: 20px;
            }

            .about_text {
                font-size: 14px;
                font-weight: 300;
                color: $cinza;
            }

            .about_imgs {
                margin-bottom: 40px;
                margin-top: 40px;

                @media screen and (min-width: $tablet) {
                    margin-bottom: 0;
                    margin-top: 0;
                }

                img {
                    &:first-child {
                        width: 50%;
                        margin-right: 25%;

                        @media screen and (max-width: $tablet - 1) {
                            width: 160px;
                        }
                    }

                    &:last-child {
                        z-index: 1;
                        width: 50%;
                        margin-top: -16%;
                        margin-left: 25%;

                        @media screen and (max-width: $tablet - 1) {
                            width: 160px;
                        }
                    }
                }
            }
        }
    }
}
