.container_banner {
    .row {
        .col-md-6 {
            .owl-carousel {
                @media screen and (min-width: $tablet) {
                    max-width: 32vw;
                    height: calc(100vh - 126px);
                    object-fit: cover;
                }

                img {
                    height: calc(100vh - 126px);
                    object-fit: cover;

                    @media screen and (max-width: $tablet) {
                        height: 500px;
                        object-fit: cover;
                        margin: 0 auto;
                    }
                }
            }

            .banner_text_content {
                position: absolute;
                bottom: 10%;
                transform: translateX(-50%);
                left: 50%;
                text-align: center;
                background-color: rgba($pink, .8);
                padding: 10px;

                @media screen and (min-width: $tablet) {
                    bottom: 10%;
                    transform: translateY(-50%);
                }

                &.left {
                    z-index: 1000;

                    @media screen and (min-width: $tablet) {
                        transform: translateX(0);
                        right: 0;
                        width: 17vw;
                    }
                }

                &.right {
                    @extend.left;

                    @media screen and (min-width: $tablet) {
                        right: auto;
                        left: 0;
                        transform: translateX(50%);
                    }
                }

                .banner_tentencias {
                    color: $pink;
                    font-weight: 500;
                    font-size: 24px;
                }

                .banner_titulo {
                    text-transform: uppercase;
                    font-size: 2.5vw;
                    font-weight: 600;
                    letter-spacing: 1px;

                    @media screen and (max-width: $large) {
                        font-size: 30px;
                    }

                    @media screen and (max-width: $tablet) {
                        font-size: 26px;
                    }
                }

                .banner_descricao {
                    margin-bottom: 40px;
                    font-size: 0.77vw;

                    @media screen and (max-width: $tablet) {
                        font-size: 14px;
                    }
                }

                .btn_a {
                    @media screen and (min-width: $tablet) {
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}
