.container_vestidos_home {
    h1 {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 33px;

        @media screen and (max-width: $tablet) {
            font-size: 25px;
        }
    }

    // Pagina Produto
    .mall-products {
        .owl--arrow {
            position: absolute;
            top: 30%;
            z-index: 5;
            background-color: $pink;
            width: 40px;
            height: 40px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);

            &.novidadePrevBtn {
                left: 0;

                @media screen and (min-width: $large) {
                    left: -20px;
                }
            }

            &.novidadeNextBtn {
                right: 0;

                @media screen and (min-width: $large) {
                    right: -20px;
                }
            }

            i {
                color: $white;
                font-size: 25px;
            }
        }
    }
}
