{##}
{% if type %}
    {% set type = (type ~ '_') %}
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="{{ type }}company">{{ 'Empresa'|_ }}</label>
            <input class="form-control" id="{{ type }}company" type="text" value="{{ address.company }}" name="{{ type }}company">
            <div data-validate-for="{{ type }}company"></div>
        </div>        
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="{{ type }}address_name">{{ 'Nome'|_ }}</label>
            <input class="form-control" id="{{ type }}address_name" type="text"
                value="{{ address.name }}"
                name="{{ type }}address_name">
            <div data-validate-for="{{ type }}address_name"></div>
        </div>
    </div>
</div>
<div class="row">
{% if false %}
    <div class="col-6">
        <div class="form-group">
            <label for="{{type}}nif">{{'NIF (Facultativo)'|_}}</label>
            <input class="form-control" id="{{type}}nif" type="text"
                  value="{{address.nif}}"
                  name="{{type}}nif">
            <div data-validate-for="{{type}}nif"></div>
        </div>
    </div>
{% endif %}
    <div class="col-6">
        <div class="form-group">
            <label for="{{type}}telefone">{{'Telefone'|_}}</label>
            <input class="form-control" id="{{type}}telefone" type="text"
                  value="{{address.telefone}}"
                  name="{{type}}telefone">
            <div data-validate-for="{{type}}telefone"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="{{ type }}lines">{{ 'Morada'|_ }}</label>
            <textarea class="form-control" id="{{ type }}lines" type="text" name="{{ type }}lines">{{ address.lines }}</textarea>
            <div data-validate-for="{{ type }}lines"></div>
        </div>    
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="{{ type }}zip">{{ 'Código Postal'|_ }}</label>
            <input  class="form-control" 
                    pattern="[0-9]{4}[\-]?[0-9]{3}" 
                    title = "Por favor use o formato xxxx-xxx"
                    id="{{ type }}zip" 
                    name="{{ type }}zip" 
                    type="text"
                    value="{{ address.zip }}">
            <div data-validate-for="{{ type }}zip"></div>
        </div>    
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="{{ type }}city">{{ 'Localidade'|_ }}</label>
            <input class="form-control" id="{{ type }}city" name="{{ type }}city" type="text"
                value="{{ address.city }}">
            <div data-validate-for="{{ type }}city"></div>
        </div>
    </div>
</div>
<div class="row">
    {% partial __SELF__ ~ '::countrystate' type=type countryId=address.country_id stateId=address.state_id %}
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="{{ type }}details">{{ 'Informações Adicionais'|_ }}</label>
            <textarea   class="form-control" 
                        rows="3"
                        id="{{ type }}details" 
                        type="text" name="{{ type }}details">{{ address.details }}</textarea>
            <div data-validate-for="{{ type }}details"></div>
        </div>    
    </div>
</div>

{% put scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script>
$(document).ready(function () { 
        var $campo = $("#{{ type }}zip");
        $campo.mask('0000-000', {reverse: true});
    });
</script>
{% endput %}