[localePicker]
forceUrl = 0

[session]
security = "all"

[cart mallCart]
showDiscountApplier = 1
showTaxes = 1
showShipping = 1

[mallDependencies]

[pedidocontacto]
==
{##}
<!doctype html>
<html prefix="og: http://ogp.me/ns#">

<head>
    
    <meta property="og:title" content="{{ item.name }}">
    <meta property="og:type"   content="article">
    <meta property="og:url" content="{{ this.page.id | page }}">
    <meta property="og:image" content="{{ item.image.path }}">
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="110" />
    <meta property="og:image:secure_url" content="{{ item.image.path }}" />
    <meta name="google-site-verification" content="6F5C1lIz0RuuMAZLS-AocWsWZHftl4R-h3m66xez_Do" />
    <title>{{ this.page.title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="OctoberCMS">
    <meta name="generator" content="OctoberCMS">


    <link rel="icon" 
      type="image/ico" 
      href="{{'assets/img/icons/faSil_Logo_web-07.ico'|theme}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Bootstrap Select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">
    
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{{'assets/style/themify/themify-icons.css'|theme}}">

    <!-- Fonf Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Magnify Zoom Image Pagina Produto -->
    <link rel="stylesheet" href="https://thdoan.github.io/magnify/css/magnify.css">

    <!-- Style Junta Digital -->
    <link rel="stylesheet" href="{{'assets/style/stylesheets/style.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/style/stylesheets/mall.css'|theme}}">
    {% styles %}
    <meta name="google-site-verification" content="CTzD0DzN1qoMnEwK0NNSs1zGSNY88pC6RXAn281ZBxI" />
</head>

<body>
    <div class="navbar_spice"></div>
    {% partial 'geral/navbar' %}
    {% flash success %}
        {% if 'Obrigada pela sua mensagem' in message %}
            <p
                data-control="flash-message"
                class="flash-message fade {{ type }}"
                data-interval="5">
                {{ message }}
            </p>
        {% endif %}
    {% endflash %}

    <!-- Content -->
    {% page %}

    <!-- Footer -->
    {% partial 'geral/footer' %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- Bootstrap Select -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>

    <!-- Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Magnify Zoom Image Pagina Produto -->
    <script src="https://thdoan.github.io/magnify/js/jquery.magnify.js"></script>

    <!-- Validação -- Pedido Contacto -->
    <script src="{{'assets/js/validacao_formularios.js'|theme}}"></script>

    {% framework extras %}
    {% scripts %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151640708-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151640708-1');
    </script>


</body>

</html>