@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
/* line 17, ../sass/style.scss */
html,
body,
p,
a,
.pagination li:first-child span,
.pagination li:last-child span {
  font-family: 'Poppins', sans-serif;
  color: #1D2126;
}

/* line 27, ../sass/style.scss */
.dropdown-toggle .filter-option .filter-option-inner {
  height: 100%;
}
/* line 30, ../sass/style.scss */
.dropdown-toggle .filter-option .filter-option-inner .filter-option-inner-inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 1, ../sass/geral/_navbar.scss */
.navbar_spice {
  width: 100%;
  height: 96px;
}
@media screen and (min-width: 992px) {
  /* line 1, ../sass/geral/_navbar.scss */
  .navbar_spice {
    height: 126px;
  }
}

/* line 10, ../sass/geral/_navbar.scss */
.navbar {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 992px) {
  /* line 10, ../sass/geral/_navbar.scss */
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/* line 22, ../sass/geral/_navbar.scss */
.navbar span.redes_nav a, .navbar span.redes_nav .pagination li:first-child span, .pagination li:first-child .navbar span.redes_nav span, .navbar span.redes_nav .pagination li:last-child span, .pagination li:last-child .navbar span.redes_nav span {
  color: #e9a5ad;
  text-decoration: none;
  margin: 0 11px;
  font-size: 18px;
  display: inline-block;
  margin-top: 15px;
}
/* line 30, ../sass/geral/_navbar.scss */
.navbar span.redes_nav a:first-child, .navbar span.redes_nav .pagination li:first-child span:first-child, .pagination li:first-child .navbar span.redes_nav span:first-child, .navbar span.redes_nav .pagination li:last-child span:first-child, .pagination li:last-child .navbar span.redes_nav span:first-child {
  margin-left: 0;
}
/* line 34, ../sass/geral/_navbar.scss */
.navbar span.redes_nav a:hover, .navbar span.redes_nav .pagination li:first-child span:hover, .pagination li:first-child .navbar span.redes_nav span:hover, .navbar span.redes_nav .pagination li:last-child span:hover, .pagination li:last-child .navbar span.redes_nav span:hover {
  color: #545871;
}
/* line 42, ../sass/geral/_navbar.scss */
.navbar a.language_nav, .navbar a.login_nav, .navbar .pagination li:first-child span.login_nav, .pagination li:first-child .navbar span.login_nav, .navbar .pagination li:last-child span.login_nav, .pagination li:last-child .navbar span.login_nav, .navbar .pagination li:first-child span.language_nav, .pagination li:first-child .navbar span.language_nav, .navbar .pagination li:last-child span.language_nav, .pagination li:last-child .navbar span.language_nav {
  text-transform: uppercase !important;
  color: #e9a5ad;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  /* line 42, ../sass/geral/_navbar.scss */
  .navbar a.language_nav, .navbar a.login_nav, .navbar .pagination li:first-child span.login_nav, .pagination li:first-child .navbar span.login_nav, .navbar .pagination li:last-child span.login_nav, .pagination li:last-child .navbar span.login_nav, .navbar .pagination li:first-child span.language_nav, .pagination li:first-child .navbar span.language_nav, .navbar .pagination li:last-child span.language_nav, .pagination li:last-child .navbar span.language_nav {
    margin-left: 21px !important;
  }
}
/* line 51, ../sass/geral/_navbar.scss */
.navbar a.language_nav:hover, .navbar a.login_nav:hover, .navbar .pagination li:first-child span.login_nav:hover, .pagination li:first-child .navbar span.login_nav:hover, .navbar .pagination li:last-child span.login_nav:hover, .pagination li:last-child .navbar span.login_nav:hover, .navbar .pagination li:first-child span.language_nav:hover, .pagination li:first-child .navbar span.language_nav:hover, .navbar .pagination li:last-child span.language_nav:hover, .pagination li:last-child .navbar span.language_nav:hover {
  color: #545871;
}
/* line 56, ../sass/geral/_navbar.scss */
.navbar a.login_nav, .navbar .pagination li:first-child span.login_nav, .pagination li:first-child .navbar span.login_nav, .navbar .pagination li:last-child span.login_nav, .pagination li:last-child .navbar span.login_nav {
  margin-left: 0 !important;
}
@media screen and (min-width: 992px) and (max-width: 1300px) {
  /* line 56, ../sass/geral/_navbar.scss */
  .navbar a.login_nav, .navbar .pagination li:first-child span.login_nav, .pagination li:first-child .navbar span.login_nav, .navbar .pagination li:last-child span.login_nav, .pagination li:last-child .navbar span.login_nav {
    font-size: 13px !important;
  }
}
/* line 66, ../sass/geral/_navbar.scss */
.navbar .navbar_brand_box {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  /* line 66, ../sass/geral/_navbar.scss */
  .navbar .navbar_brand_box {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 76, ../sass/geral/_navbar.scss */
  .navbar .navbar_brand_box span {
    position: absolute;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (min-width: 768px) and (max-width: 991px) {
  /* line 80, ../sass/geral/_navbar.scss */
  .navbar .navbar_brand_box span:first-child {
    left: 75px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (min-width: 768px) and (max-width: 991px) {
  /* line 86, ../sass/geral/_navbar.scss */
  .navbar .navbar_brand_box span:last-child {
    right: 75px;
  }
}

/* line 93, ../sass/geral/_navbar.scss */
.navbar .navbar_brand_box span a, .navbar .navbar_brand_box span .pagination li:first-child span, .pagination li:first-child .navbar .navbar_brand_box span span, .navbar .navbar_brand_box span .pagination li:last-child span, .pagination li:last-child .navbar .navbar_brand_box span span {
  color: #e9a5ad;
  text-decoration: none;
  margin: 0 11px;
  font-size: 15px;
  display: inline-block;
}
/* line 100, ../sass/geral/_navbar.scss */
.navbar .navbar_brand_box span a:hover, .navbar .navbar_brand_box span .pagination li:first-child span:hover, .pagination li:first-child .navbar .navbar_brand_box span span:hover, .navbar .navbar_brand_box span .pagination li:last-child span:hover, .pagination li:last-child .navbar .navbar_brand_box span span:hover {
  color: #545871;
}
/* line 104, ../sass/geral/_navbar.scss */
.navbar .navbar_brand_box span a:hover.shopping_nav::after, .navbar .navbar_brand_box span .pagination li:first-child span:hover.shopping_nav::after, .pagination li:first-child .navbar .navbar_brand_box span span:hover.shopping_nav::after, .navbar .navbar_brand_box span .pagination li:last-child span:hover.shopping_nav::after, .pagination li:last-child .navbar .navbar_brand_box span span:hover.shopping_nav::after {
  background-color: #545871;
}
/* line 110, ../sass/geral/_navbar.scss */
.navbar .navbar_brand_box span a.shopping_nav, .navbar .navbar_brand_box span .pagination li:first-child span.shopping_nav, .pagination li:first-child .navbar .navbar_brand_box span span.shopping_nav, .navbar .navbar_brand_box span .pagination li:last-child span.shopping_nav, .pagination li:last-child .navbar .navbar_brand_box span span.shopping_nav {
  position: relative;
}
/* line 113, ../sass/geral/_navbar.scss */
.navbar .navbar_brand_box span a.shopping_nav::after, .navbar .navbar_brand_box span .pagination li:first-child span.shopping_nav::after, .pagination li:first-child .navbar .navbar_brand_box span span.shopping_nav::after, .navbar .navbar_brand_box span .pagination li:last-child span.shopping_nav::after, .pagination li:last-child .navbar .navbar_brand_box span span.shopping_nav::after {
  position: absolute;
  top: 0;
  right: -21px;
  min-width: 20px;
  min-height: 20px;
  background-color: #e9a5ad;
  color: #fff;
  content: attr(data-bascket);
  border-radius: 50%;
  line-height: 19px;
  text-align: center;
  font-size: 13px;
}
/* line 131, ../sass/geral/_navbar.scss */
.navbar .navbar_brand_box .navbar-brand {
  color: #e9a5ad;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  height: 110px;
}
@media screen and (max-width: 992px) {
  /* line 131, ../sass/geral/_navbar.scss */
  .navbar .navbar_brand_box .navbar-brand {
    height: 80px;
  }
}
@media screen and (max-width: 992px) {
  /* line 131, ../sass/geral/_navbar.scss */
  .navbar .navbar_brand_box .navbar-brand {
    top: -5px;
  }
}
/* line 150, ../sass/geral/_navbar.scss */
.navbar .navbar_brand_box .navbar-brand img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
/* line 160, ../sass/geral/_navbar.scss */
.navbar .navbar-toggler {
  position: absolute;
  top: 48px;
  left: 15px;
  transform: translateY(-20px);
  background-color: #e9a5ad;
}
@media screen and (min-width: 992px) {
  /* line 168, ../sass/geral/_navbar.scss */
  .navbar .navbar-collapse {
    display: none !important;
  }
}
/* line 175, ../sass/geral/_navbar.scss */
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 16px;
  color: #545871;
  font-weight: 500;
}
/* line 181, ../sass/geral/_navbar.scss */
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #e9a5ad;
}
@media screen and (min-width: 992px) {
  /* line 175, ../sass/geral/_navbar.scss */
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding-left: 25px;
    padding-right: 25px;
  }
}
/* line 190, ../sass/geral/_navbar.scss */
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #e9a5ad;
}

/* line 2, ../sass/geral/_footer.scss */
.container_footer.footer_info {
  margin-bottom: 60px;
}
/* line 5, ../sass/geral/_footer.scss */
.container_footer.footer_info hr {
  max-width: 60%;
  margin-bottom: 45px;
}
/* line 10, ../sass/geral/_footer.scss */
.container_footer.footer_info img {
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  /* line 10, ../sass/geral/_footer.scss */
  .container_footer.footer_info img {
    margin-right: 25px;
    margin-bottom: 0;
  }
}
/* line 19, ../sass/geral/_footer.scss */
.container_footer.footer_info p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  color: #1D2126;
}
/* line 25, ../sass/geral/_footer.scss */
.container_footer.footer_info p span {
  font-weight: 300;
  display: block;
  text-transform: none;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 992px) {
  /* line 35, ../sass/geral/_footer.scss */
  .container_footer .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  /* line 42, ../sass/geral/_footer.scss */
  .container_footer .container .box_logo_footer img {
    max-width: 170px;
  }
}
/* line 49, ../sass/geral/_footer.scss */
.container_footer.footer_nav {
  background-color: #1D2126;
  padding-top: 65px;
  padding-bottom: 35px;
}
@media screen and (max-width: 768px) {
  /* line 49, ../sass/geral/_footer.scss */
  .container_footer.footer_nav {
    padding-top: 40px;
    padding-bottom: 25px;
  }
}
/* line 59, ../sass/geral/_footer.scss */
.container_footer.footer_nav .modal_footer_btn {
  background-color: #1D2126 !important;
  color: #e9a5ad;
  font-size: 14px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  /* line 67, ../sass/geral/_footer.scss */
  .container_footer.footer_nav ul li {
    text-align: center;
  }
}
/* line 72, ../sass/geral/_footer.scss */
.container_footer.footer_nav ul li a, .container_footer.footer_nav ul .pagination li:first-child span, .pagination .container_footer.footer_nav ul li:first-child span, .container_footer.footer_nav ul .pagination li:last-child span, .pagination .container_footer.footer_nav ul li:last-child span {
  color: #e9a5ad;
  text-transform: uppercase;
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  /* line 72, ../sass/geral/_footer.scss */
  .container_footer.footer_nav ul li a, .container_footer.footer_nav ul .pagination li:first-child span, .pagination .container_footer.footer_nav ul li:first-child span, .container_footer.footer_nav ul .pagination li:last-child span, .pagination .container_footer.footer_nav ul li:last-child span {
    font-size: 15px;
  }
}
/* line 87, ../sass/geral/_footer.scss */
.container_footer.footer_nav .footer_social_box p {
  color: #e9a5ad;
}
@media screen and (max-width: 768px) {
  /* line 87, ../sass/geral/_footer.scss */
  .container_footer.footer_nav .footer_social_box p {
    text-align: center;
  }
}
/* line 94, ../sass/geral/_footer.scss */
.container_footer.footer_nav .footer_social_box p.footer_number {
  font-size: 19px;
}
/* line 98, ../sass/geral/_footer.scss */
.container_footer.footer_nav .footer_social_box p.footer_email {
  margin-bottom: 30px;
}
/* line 101, ../sass/geral/_footer.scss */
.container_footer.footer_nav .footer_social_box p.footer_email a, .container_footer.footer_nav .footer_social_box p.footer_email .pagination li:first-child span, .pagination li:first-child .container_footer.footer_nav .footer_social_box p.footer_email span, .container_footer.footer_nav .footer_social_box p.footer_email .pagination li:last-child span, .pagination li:last-child .container_footer.footer_nav .footer_social_box p.footer_email span {
  color: #e9a5ad;
  text-decoration: none;
  font-size: 16px;
}
/* line 109, ../sass/geral/_footer.scss */
.container_footer.footer_nav .footer_social_box p a, .container_footer.footer_nav .footer_social_box p .pagination li:first-child span, .pagination li:first-child .container_footer.footer_nav .footer_social_box p span, .container_footer.footer_nav .footer_social_box p .pagination li:last-child span, .pagination li:last-child .container_footer.footer_nav .footer_social_box p span {
  text-decoration: none;
  margin-right: 19px;
  font-size: 19px;
}
/* line 114, ../sass/geral/_footer.scss */
.container_footer.footer_nav .footer_social_box p a i, .container_footer.footer_nav .footer_social_box p .pagination li:first-child span i, .pagination li:first-child .container_footer.footer_nav .footer_social_box p span i, .container_footer.footer_nav .footer_social_box p .pagination li:last-child span i, .pagination li:last-child .container_footer.footer_nav .footer_social_box p span i {
  color: #e9a5ad;
}
/* line 122, ../sass/geral/_footer.scss */
.container_footer.footer_copyright {
  background-color: #e9a5ad;
}
/* line 125, ../sass/geral/_footer.scss */
.container_footer.footer_copyright a, .container_footer.footer_copyright .pagination li:first-child span, .pagination li:first-child .container_footer.footer_copyright span, .container_footer.footer_copyright .pagination li:last-child span, .pagination li:last-child .container_footer.footer_copyright span {
  font-family: 'Raleway', sans-serif;
  color: #1D2126;
  text-decoration: none;
}

/* line 136, ../sass/geral/_footer.scss */
.modal_footer .modal-content {
  background-color: #f7f7f7;
  border-radius: 0;
  border: 0;
}
/* line 141, ../sass/geral/_footer.scss */
.modal_footer .modal-content .modal-header {
  border-bottom: 0;
}
/* line 144, ../sass/geral/_footer.scss */
.modal_footer .modal-content .modal-header h5 {
  color: #545871;
}

/* line 2, ../sass/geral/_card_vestido.scss */
.card_vestido .card {
  height: 100%;
  border: 0;
  text-decoration: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 2, ../sass/geral/_card_vestido.scss */
  .card_vestido .card {
    display: block !important;
  }
}
/* line 12, ../sass/geral/_card_vestido.scss */
.card_vestido .card .card-img-top {
  border-radius: 0;
}
/* line 17, ../sass/geral/_card_vestido.scss */
.card_vestido .card .card-body .card-title {
  color: #545871;
  font-weight: 100;
  font-size: 15px;
}
/* line 23, ../sass/geral/_card_vestido.scss */
.card_vestido .card .card-body .card-price {
  font-size: 16px;
  font-weight: 500;
  color: #545871;
}

/* line 1, ../sass/geral/_banner.scss */
.container_banner_geral {
  background-color: rgba(233, 165, 173, 0.25);
}
/* line 4, ../sass/geral/_banner.scss */
.container_banner_geral .row {
  height: 100px;
}
@media screen and (max-width: 768px) {
  /* line 4, ../sass/geral/_banner.scss */
  .container_banner_geral .row {
    height: 150px;
  }
}
/* line 12, ../sass/geral/_banner.scss */
.container_banner_geral h1 {
  color: #1D2126;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
}
@media screen and (max-width: 768px) {
  /* line 12, ../sass/geral/_banner.scss */
  .container_banner_geral h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  /* line 4, ../sass/partials/home/_banner.scss */
  .container_banner .row .col-md-6 .owl-carousel {
    max-width: 32vw;
    height: calc(100vh - 126px);
    object-fit: cover;
  }
}
/* line 11, ../sass/partials/home/_banner.scss */
.container_banner .row .col-md-6 .owl-carousel img {
  height: calc(100vh - 126px);
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  /* line 11, ../sass/partials/home/_banner.scss */
  .container_banner .row .col-md-6 .owl-carousel img {
    height: 500px;
    object-fit: cover;
    margin: 0 auto;
  }
}
/* line 23, ../sass/partials/home/_banner.scss */
.container_banner .row .col-md-6 .banner_text_content {
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  background-color: rgba(233, 165, 173, 0.8);
  padding: 10px;
}
@media screen and (min-width: 768px) {
  /* line 23, ../sass/partials/home/_banner.scss */
  .container_banner .row .col-md-6 .banner_text_content {
    bottom: 10%;
    transform: translateY(-50%);
  }
}
/* line 37, ../sass/partials/home/_banner.scss */
.container_banner .row .col-md-6 .banner_text_content.left, .container_banner .row .col-md-6 .banner_text_content.right {
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  /* line 37, ../sass/partials/home/_banner.scss */
  .container_banner .row .col-md-6 .banner_text_content.left, .container_banner .row .col-md-6 .banner_text_content.right {
    transform: translateX(0);
    right: 0;
    width: 17vw;
  }
}
@media screen and (min-width: 768px) {
  /* line 47, ../sass/partials/home/_banner.scss */
  .container_banner .row .col-md-6 .banner_text_content.right {
    right: auto;
    left: 0;
    transform: translateX(50%);
  }
}
/* line 57, ../sass/partials/home/_banner.scss */
.container_banner .row .col-md-6 .banner_text_content .banner_tentencias {
  color: #e9a5ad;
  font-weight: 500;
  font-size: 24px;
}
/* line 63, ../sass/partials/home/_banner.scss */
.container_banner .row .col-md-6 .banner_text_content .banner_titulo {
  text-transform: uppercase;
  font-size: 2.5vw;
  font-weight: 600;
  letter-spacing: 1px;
}
@media screen and (max-width: 992px) {
  /* line 63, ../sass/partials/home/_banner.scss */
  .container_banner .row .col-md-6 .banner_text_content .banner_titulo {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  /* line 63, ../sass/partials/home/_banner.scss */
  .container_banner .row .col-md-6 .banner_text_content .banner_titulo {
    font-size: 26px;
  }
}
/* line 78, ../sass/partials/home/_banner.scss */
.container_banner .row .col-md-6 .banner_text_content .banner_descricao {
  margin-bottom: 40px;
  font-size: 0.77vw;
}
@media screen and (max-width: 768px) {
  /* line 78, ../sass/partials/home/_banner.scss */
  .container_banner .row .col-md-6 .banner_text_content .banner_descricao {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  /* line 87, ../sass/partials/home/_banner.scss */
  .container_banner .row .col-md-6 .banner_text_content .btn_a, .container_banner .row .col-md-6 .banner_text_content .container_dasboard .dasboard_box .listagem_moradas .btn_a--rev, .container_dasboard .dasboard_box .listagem_moradas .container_banner .row .col-md-6 .banner_text_content .btn_a--rev {
    font-size: 1vw;
  }
}

/* line 2, ../sass/partials/home/_nossos_vestidos.scss */
.container_vestidos_home h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 33px;
}
@media screen and (max-width: 768px) {
  /* line 2, ../sass/partials/home/_nossos_vestidos.scss */
  .container_vestidos_home h1 {
    font-size: 25px;
  }
}
/* line 14, ../sass/partials/home/_nossos_vestidos.scss */
.container_vestidos_home .mall-products .owl--arrow {
  position: absolute;
  top: 30%;
  z-index: 5;
  background-color: #e9a5ad;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
/* line 27, ../sass/partials/home/_nossos_vestidos.scss */
.container_vestidos_home .mall-products .owl--arrow.novidadePrevBtn {
  left: 0;
}
@media screen and (min-width: 992px) {
  /* line 27, ../sass/partials/home/_nossos_vestidos.scss */
  .container_vestidos_home .mall-products .owl--arrow.novidadePrevBtn {
    left: -20px;
  }
}
/* line 35, ../sass/partials/home/_nossos_vestidos.scss */
.container_vestidos_home .mall-products .owl--arrow.novidadeNextBtn {
  right: 0;
}
@media screen and (min-width: 992px) {
  /* line 35, ../sass/partials/home/_nossos_vestidos.scss */
  .container_vestidos_home .mall-products .owl--arrow.novidadeNextBtn {
    right: -20px;
  }
}
/* line 43, ../sass/partials/home/_nossos_vestidos.scss */
.container_vestidos_home .mall-products .owl--arrow i {
  color: #fff;
  font-size: 25px;
}

/* line 1, ../sass/partials/home/_about.scss */
.container_about {
  background-color: rgba(233, 165, 173, 0.25);
}
@media screen and (min-width: 768px) {
  /* line 5, ../sass/partials/home/_about.scss */
  .container_about .container .row {
    height: 668px;
  }
}
/* line 10, ../sass/partials/home/_about.scss */
.container_about .container .row .about_titulo {
  font-size: 33px;
  font-weight: bold;
}
/* line 15, ../sass/partials/home/_about.scss */
.container_about .container .row .about_subtitulo {
  font-weight: 300;
  font-size: 20px;
}
/* line 20, ../sass/partials/home/_about.scss */
.container_about .container .row .about_text {
  font-size: 14px;
  font-weight: 300;
  color: #95989A;
}
/* line 26, ../sass/partials/home/_about.scss */
.container_about .container .row .about_imgs {
  margin-bottom: 40px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  /* line 26, ../sass/partials/home/_about.scss */
  .container_about .container .row .about_imgs {
    margin-bottom: 0;
    margin-top: 0;
  }
}
/* line 36, ../sass/partials/home/_about.scss */
.container_about .container .row .about_imgs img:first-child {
  width: 50%;
  margin-right: 25%;
}
@media screen and (max-width: 767px) {
  /* line 36, ../sass/partials/home/_about.scss */
  .container_about .container .row .about_imgs img:first-child {
    width: 160px;
  }
}
/* line 45, ../sass/partials/home/_about.scss */
.container_about .container .row .about_imgs img:last-child {
  z-index: 1;
  width: 50%;
  margin-top: -16%;
  margin-left: 25%;
}
@media screen and (max-width: 767px) {
  /* line 45, ../sass/partials/home/_about.scss */
  .container_about .container .row .about_imgs img:last-child {
    width: 160px;
  }
}

/* line 3, ../sass/partials/loja/_loja.scss */
.container_loja .card_vestido .card-price {
  color: #e9a5ad !important;
}

/* line 3, ../sass/partials/loja/_filtros.scss */
.container_loja .btn_loja_filter.page_filter {
  background-color: #e9a5ad;
  padding: 5px 10px;
  margin-left: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
}
/* line 11, ../sass/partials/loja/_filtros.scss */
.container_loja .btn_loja_filter p {
  color: #fff;
}
/* line 15, ../sass/partials/loja/_filtros.scss */
.container_loja .btn_loja_filter div {
  width: 35px;
  height: 25px;
  display: inline-block;
  margin-bottom: 5px;
}
/* line 21, ../sass/partials/loja/_filtros.scss */
.container_loja .btn_loja_filter div span {
  width: 22px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  display: block;
}
@media screen and (max-width: 767px) {
  /* line 32, ../sass/partials/loja/_filtros.scss */
  .container_loja .loja_filtros {
    background-color: #fff;
    position: fixed;
    left: -100%;
    top: 96px;
    height: 100%;
    z-index: 9;
    transition: 0.4s;
  }
  /* line 42, ../sass/partials/loja/_filtros.scss */
  .container_loja .loja_filtros.open {
    left: 0;
  }
  /* line 47, ../sass/partials/loja/_filtros.scss */
  .container_loja .loja_filtros .btn_loja_filter.close_loja_filter {
    position: absolute;
    top: 0;
    right: 36px;
    width: 25px;
    height: 25px;
    border: 1px solid #D7D7D7;
    cursor: pointer;
    z-index: 1;
  }
  /* line 57, ../sass/partials/loja/_filtros.scss */
  .container_loja .loja_filtros .btn_loja_filter.close_loja_filter::before, .container_loja .loja_filtros .btn_loja_filter.close_loja_filter::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 15px;
    top: 50%;
    left: 4px;
    margin-top: -1px;
    background: #e9a5ad;
  }
  /* line 69, ../sass/partials/loja/_filtros.scss */
  .container_loja .loja_filtros .btn_loja_filter.close_loja_filter::before {
    transform: rotate(45deg);
  }
  /* line 73, ../sass/partials/loja/_filtros.scss */
  .container_loja .loja_filtros .btn_loja_filter.close_loja_filter::after {
    transform: rotate(-45deg);
  }
  /* line 79, ../sass/partials/loja/_filtros.scss */
  .container_loja .loja_filtros .btn_loja_filter.close_loja_filter.pointy::Before, .container_loja .loja_filtros .btn_loja_filter.close_loja_filter.pointy::after {
    width: 200%;
    left: -50%;
  }
}
/* line 91, ../sass/partials/loja/_filtros.scss */
.container_loja .loja_filtros h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  color: #636363;
  margin-bottom: 10px;
}
/* line 100, ../sass/partials/loja/_filtros.scss */
.container_loja .loja_filtros a, .container_loja .loja_filtros .pagination li:first-child span, .pagination li:first-child .container_loja .loja_filtros span, .container_loja .loja_filtros .pagination li:last-child span, .pagination li:last-child .container_loja .loja_filtros span {
  text-transform: uppercase;
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #636363;
  text-decoration: none;
}
/* line 101, ../sass/partials/loja/_filtros.scss */
.container_loja .loja_filtros a.active, .container_loja .loja_filtros .pagination li:first-child span.active, .pagination li:first-child .container_loja .loja_filtros span.active, .container_loja .loja_filtros .pagination li:last-child span.active, .pagination li:last-child .container_loja .loja_filtros span.active {
  color: #e9a5ad;
  font-weight: 600;
}
/* line 106, ../sass/partials/loja/_filtros.scss */
.container_loja .loja_filtros a.categoria_filho, .container_loja .loja_filtros .pagination li:first-child span.categoria_filho, .pagination li:first-child .container_loja .loja_filtros span.categoria_filho, .container_loja .loja_filtros .pagination li:last-child span.categoria_filho, .pagination li:last-child .container_loja .loja_filtros span.categoria_filho {
  margin-left: 15px;
  font-size: 13px;
  text-transform: none;
}
/* line 112, ../sass/partials/loja/_filtros.scss */
.container_loja .loja_filtros a.categoria_pai, .container_loja .loja_filtros .pagination li:first-child span.categoria_pai, .pagination li:first-child .container_loja .loja_filtros span.categoria_pai, .container_loja .loja_filtros .pagination li:last-child span.categoria_pai, .pagination li:last-child .container_loja .loja_filtros span.categoria_pai {
  border-bottom: 1px solid #D7D7D7;
}
/* line 127, ../sass/partials/loja/_filtros.scss */
.container_loja .sort_by_filter .mall-property-group__name {
  font-size: 15px;
  color: #e9a5ad;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 134, ../sass/partials/loja/_filtros.scss */
.container_loja .sort_by_filter .mall-filter {
  max-width: 180px;
}
/* line 137, ../sass/partials/loja/_filtros.scss */
.container_loja .sort_by_filter .mall-filter button {
  font-size: 14px;
}

/* line 1, ../sass/partials/loja/_pagination.scss */
.pagination {
  justify-content: flex-end;
}
/* line 4, ../sass/partials/loja/_pagination.scss */
.pagination li {
  margin: 0 4px;
}
/* line 8, ../sass/partials/loja/_pagination.scss */
.pagination li:first-child a, .pagination li:first-child span {
  color: transparent;
  position: relative;
}
/* line 12, ../sass/partials/loja/_pagination.scss */
.pagination li:first-child a::before, .pagination li:first-child span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: FontAwesome;
  content: "\f104";
  display: inline-block;
  background-color: #f7f7f7;
  color: #e9a5ad;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 30, ../sass/partials/loja/_pagination.scss */
.pagination li:first-child a:hover::before, .pagination li:first-child span:hover::before {
  background-color: #e9a5ad;
  color: #fff;
}
/* line 37, ../sass/partials/loja/_pagination.scss */
.pagination li:first-child span {
  cursor: not-allowed;
}
/* line 44, ../sass/partials/loja/_pagination.scss */
.pagination li:last-child a, .pagination li:last-child span {
  color: transparent;
  position: relative;
}
/* line 48, ../sass/partials/loja/_pagination.scss */
.pagination li:last-child a::before, .pagination li:last-child span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  background-color: #f7f7f7;
  color: #e9a5ad;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 66, ../sass/partials/loja/_pagination.scss */
.pagination li:last-child a:hover::before, .pagination li:last-child span:hover::before {
  background-color: #e9a5ad;
  color: #fff;
}
/* line 73, ../sass/partials/loja/_pagination.scss */
.pagination li:last-child span {
  cursor: not-allowed;
}
/* line 79, ../sass/partials/loja/_pagination.scss */
.pagination li a, .pagination li:first-child span, .pagination li:last-child span {
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  color: #e9a5ad;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
/* line 89, ../sass/partials/loja/_pagination.scss */
.pagination li a:hover, .pagination li:first-child span:hover, .pagination li:last-child span:hover {
  background-color: #e9a5ad;
  color: #fff;
}
/* line 95, ../sass/partials/loja/_pagination.scss */
.pagination li span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9a5ad;
}

@media screen and (min-width: 992px) {
  /* line 8, ../sass/partials/produto_page/_produto_page.scss */
  .container_produto_page .imgs_produto .col-12 .owl-carousel {
    max-height: 100%;
  }
  /* line 12, ../sass/partials/produto_page/_produto_page.scss */
  .container_produto_page .imgs_produto .col-12 .owl-carousel .owl-stage-outer .owl-item {
    text-align: center;
  }
  /* line 16, ../sass/partials/produto_page/_produto_page.scss */
  .container_produto_page .imgs_produto .col-12 .owl-carousel .owl-stage-outer .owl-item .item img {
    max-height: calc(100vh - 310px);
    width: auto;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 32, ../sass/partials/produto_page/_produto_page.scss */
  .container_produto_page .imgs_produto .col-12 .owl-item .item img {
    width: 100% !important;
  }
}
/* line 41, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .imgs_produto span.produto_nav_btns {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + -12px));
  z-index: 1000;
  background-color: #e9a5ad;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 55, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .imgs_produto span.produto_nav_btns i {
  color: #fff;
  font-size: 25px;
}
/* line 60, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .imgs_produto span.produto_nav_btns.customNextBtn {
  right: 25px;
}
/* line 64, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .imgs_produto span.produto_nav_btns.customPrevBtn {
  left: 25px;
}
/* line 73, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto h1 {
  font-size: 1.6vw;
  background-color: #e9a5ad;
  display: inline-block;
  padding: 5px 10px;
}
@media screen and (max-width: 768px) {
  /* line 73, ../sass/partials/produto_page/_produto_page.scss */
  .container_produto_page .info_produto h1 {
    font-size: 24px;
  }
}
/* line 83, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto h1.titulo_produto {
  font-weight: 300;
  color: #545871;
  font-size: 27px;
}
/* line 89, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto h1.preco_produto {
  font-weight: 600;
}
/* line 94, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .descricao_produto {
  font-size: 14px;
  color: #545871;
}
/* line 101, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .color_box_product .colors input {
  display: none;
}
/* line 105, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .color_box_product .colors input[type="radio"]:checked + .swatch {
  box-shadow: inset 0 0 0 2px white;
}
/* line 111, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .color_box_product .colors .swatch {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  border: 1px solid #95989A;
  border-radius: 50%;
}
/* line 125, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .size_box_product .sizes input {
  display: none;
}
/* line 129, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .size_box_product .sizes input[type="radio"]:checked + .swatch {
  font-weight: bold;
  color: #1D2126;
}
/* line 136, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .size_box_product .sizes .swatch {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 5px;
  color: #95989A;
}
/* line 143, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .size_box_product .sizes .swatch:first-child {
  margin-left: 0;
}
/* line 151, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .quantity_produto .bootstrap-select {
  width: 130px !important;
}
/* line 154, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .quantity_produto .bootstrap-select .dropdown-toggle {
  max-width: 130px;
  height: 50px;
  background-color: rgba(149, 152, 154, 0.2) !important;
  border-radius: 0;
  border: none;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 164, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .quantity_produto .bootstrap-select .dropdown-toggle::after {
  border: solid #636363;
  border-width: 0 1px 1px 0;
  position: absolute;
  right: 3px;
  top: 20px;
}
/* line 172, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .quantity_produto .bootstrap-select .dropdown-toggle .filter-option {
  min-width: 130px;
  text-align: center;
  color: #1D2126;
}
/* line 181, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .quantity_produto .btn_add_carrinho {
  color: #e9a5ad;
  background-color: #1D2126;
  text-transform: uppercase;
  height: 50px;
  border-radius: 0;
  margin-left: 12px;
  width: calc(100% - 151px);
}
/* line 190, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .quantity_produto .btn_add_carrinho:hover {
  background-color: #e9a5ad;
  color: #1D2126;
}
/* line 198, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .social__product_btns .SocialSharingButtons {
  text-align: left;
  display: inline-block;
}
/* line 202, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .social__product_btns .SocialSharingButtons a, .container_produto_page .info_produto .social__product_btns .SocialSharingButtons .pagination li:first-child span, .pagination li:first-child .container_produto_page .info_produto .social__product_btns .SocialSharingButtons span, .container_produto_page .info_produto .social__product_btns .SocialSharingButtons .pagination li:last-child span, .pagination li:last-child .container_produto_page .info_produto .social__product_btns .SocialSharingButtons span {
  background-color: #e9a5ad;
  box-shadow: none;
  margin-right: 12px;
}
/* line 209, ../sass/partials/produto_page/_produto_page.scss */
.container_produto_page .info_produto .social__product_btns .instagram {
  background-color: #e9a5ad;
  box-shadow: none;
  margin-right: 12px;
  display: inline-block;
  width: 4em;
  border: none;
  padding: 0.5em;
  color: #FFF;
  outline: none;
  text-align: center;
}

/* line 2, ../sass/partials/produto_page/_modal_addItem.scss */
.modal_addItem .modal-content {
  background-color: #f7f7f7;
  border-radius: 0;
  border: 0;
}
/* line 7, ../sass/partials/produto_page/_modal_addItem.scss */
.modal_addItem .modal-content .modal-header {
  border-bottom: 0;
}
/* line 10, ../sass/partials/produto_page/_modal_addItem.scss */
.modal_addItem .modal-content .modal-header h5 {
  color: #545871;
}
/* line 15, ../sass/partials/produto_page/_modal_addItem.scss */
.modal_addItem .modal-content .modal-footer {
  border-top: 0;
}
@media screen and (max-width: 576px) {
  /* line 15, ../sass/partials/produto_page/_modal_addItem.scss */
  .modal_addItem .modal-content .modal-footer {
    flex-direction: column;
  }
}
/* line 22, ../sass/partials/produto_page/_modal_addItem.scss */
.modal_addItem .modal-content .modal-footer .btn {
  background-color: #545871;
  height: 40px;
  text-transform: uppercase;
  color: #e9a5ad;
  cursor: pointer;
  box-shadow: none !important;
  border: 0;
  border-radius: 0;
  line-height: 25px;
}
@media screen and (max-width: 576px) {
  /* line 22, ../sass/partials/produto_page/_modal_addItem.scss */
  .modal_addItem .modal-content .modal-footer .btn {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 47, ../sass/partials/produto_page/_modal_addItem.scss */
.modal_addItem .modal-content .modal-footer .btn:hover {
  background-color: #e9a5ad;
  color: #545871;
}
/* line 52, ../sass/partials/produto_page/_modal_addItem.scss */
.modal_addItem .modal-content .modal-footer .btn.btn-primary {
  background-color: #e9a5ad;
  color: #545871;
}
/* line 56, ../sass/partials/produto_page/_modal_addItem.scss */
.modal_addItem .modal-content .modal-footer .btn.btn-primary:hover {
  background-color: #545871;
  color: #e9a5ad;
}

@media screen and (max-width: 768px) {
  /* line 1, ../sass/partials/carrinho/_tabela_produto.scss */
  .tabela_vendas {
    margin-top: 15px;
  }
}
/* line 6, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
@media screen and (max-width: 992px) {
  /* line 6, ../sass/partials/carrinho/_tabela_produto.scss */
  .tabela_vendas table {
    border: 0;
  }
}
@media screen and (max-width: 992px) {
  /* line 17, ../sass/partials/carrinho/_tabela_produto.scss */
  .tabela_vendas table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
/* line 30, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table tr {
  border-bottom: 1px solid #D7D7D7;
  padding: .35em;
}
@media screen and (max-width: 992px) {
  /* line 30, ../sass/partials/carrinho/_tabela_produto.scss */
  .tabela_vendas table tr {
    border: 1px solid #95989A;
    display: block;
    margin-bottom: .625em;
  }
}
/* line 40, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table tr.product_row {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 46, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table th,
.tabela_vendas table td {
  padding: .625em;
}
/* line 51, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td {
  text-align: center;
  height: 150px;
}
@media screen and (max-width: 992px) {
  /* line 51, ../sass/partials/carrinho/_tabela_produto.scss */
  .tabela_vendas table td {
    border-bottom: 1px solid #95989A;
    display: block;
    text-align: right;
    height: auto;
  }
  /* line 61, ../sass/partials/carrinho/_tabela_produto.scss */
  .tabela_vendas table td:last-child {
    border-bottom: 0;
  }
  /* line 65, ../sass/partials/carrinho/_tabela_produto.scss */
  .tabela_vendas table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
/* line 73, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .cancel_row {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 25px;
  height: 25px;
  border: 1px solid #D7D7D7;
  cursor: pointer;
}
/* line 85, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .cancel_row:hover::before, .tabela_vendas table td .cancel_row:hover::after {
  background: #e9a5ad;
}
/* line 91, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .cancel_row::before, .tabela_vendas table td .cancel_row::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 15px;
  top: 50%;
  left: 4px;
  margin-top: -1px;
  background: #95989A;
}
/* line 103, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .cancel_row::before {
  transform: rotate(45deg);
}
/* line 107, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .cancel_row::after {
  transform: rotate(-45deg);
}
/* line 113, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .cancel_row.pointy::Before, .tabela_vendas table td .cancel_row.pointy::after {
  width: 200%;
  left: -50%;
}
/* line 121, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td p {
  font-size: 14px;
  margin-bottom: 0;
}
/* line 125, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td p.preco {
  font-weight: 600;
}
/* line 130, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .custom-select {
  max-width: 90px;
  font-family: 'Raleway', sans-serif;
  border-radius: 0;
  background-color: rgba(149, 152, 154, 0.2) !important;
  border: 0;
}
/* line 137, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .custom-select .dropdown-toggle {
  text-align: center;
  border: 1px solid #1D2126;
  height: 30px;
  padding: 0;
}
/* line 143, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .custom-select .dropdown-toggle::after {
  position: absolute;
  right: 13px;
  top: 8px;
  border: solid #1D2126;
  border-width: 0 1px 1px 0;
  margin-right: 0;
}
/* line 152, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td .custom-select .dropdown-toggle .filter-option {
  min-width: 100%;
  text-align: center;
  color: #1D2126;
}
/* line 160, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td table {
  border: 0;
}
/* line 164, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td table.carrinho_produto th {
  text-align: left;
}
/* line 167, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td table.carrinho_produto th img {
  width: 100%;
}
/* line 171, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td table.carrinho_produto th:first-child {
  width: 100px;
}
/* line 176, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td table.carrinho_produto span {
  font-size: 14px;
  display: block;
  color: #545871;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-transform: none;
}
/* line 184, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td table.carrinho_produto span.name_produto {
  color: #1D2126;
  font-weight: 500;
}
/* line 191, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table td table tr {
  border: 0;
}
/* line 197, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table th {
  letter-spacing: .1em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 204, ../sass/partials/carrinho/_tabela_produto.scss */
.tabela_vendas table th:first-child {
  width: 30%;
  text-align: left;
}

/* line 2, ../sass/partials/carrinho/_shipping.scss */
.carrinho_shipping h1 {
  text-transform: uppercase;
  font-size: 22px;
}
/* line 7, ../sass/partials/carrinho/_shipping.scss */
.carrinho_shipping form {
  display: flex;
  flex-direction: column;
}
/* line 12, ../sass/partials/carrinho/_shipping.scss */
.carrinho_shipping form .form-group label {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 15px;
}
/* line 18, ../sass/partials/carrinho/_shipping.scss */
.carrinho_shipping form .form-group input {
  border: 1px solid #D7D7D7;
  border-radius: 0;
  height: 45px;
}
/* line 25, ../sass/partials/carrinho/_shipping.scss */
.carrinho_shipping form button {
  margin-left: auto;
  height: 46px;
  background-color: #545871;
  color: #e9a5ad;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 0;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  /* line 25, ../sass/partials/carrinho/_shipping.scss */
  .carrinho_shipping form button {
    width: 44%;
  }
}
/* line 39, ../sass/partials/carrinho/_shipping.scss */
.carrinho_shipping form button:hover {
  background-color: #e9a5ad;
  color: #545871;
}

/* line 2, ../sass/partials/carrinho/_total.scss */
.carrinho_total h1 {
  text-transform: uppercase;
  font-size: 22px;
}
/* line 8, ../sass/partials/carrinho/_total.scss */
.carrinho_total .total_row p {
  margin-bottom: 0;
  font-size: 14px;
}
/* line 12, ../sass/partials/carrinho/_total.scss */
.carrinho_total .total_row p.sub_total_price {
  font-size: 18px;
  font-weight: 600;
}
/* line 17, ../sass/partials/carrinho/_total.scss */
.carrinho_total .total_row p.total_price {
  color: #e9a5ad;
  font-weight: 600;
  font-size: 20px;
}
/* line 24, ../sass/partials/carrinho/_total.scss */
.carrinho_total .total_row hr {
  margin-top: 14px;
  margin-bottom: 20px;
}
/* line 30, ../sass/partials/carrinho/_total.scss */
.carrinho_total .total_btn {
  margin-left: auto;
  height: 46px;
  background-color: #e9a5ad;
  color: #545871;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 0;
  font-weight: 500;
  line-height: 33px;
  text-decoration: none;
  outline: none !important;
  box-shadow: none !important;
}
@media screen and (min-width: 992px) {
  /* line 30, ../sass/partials/carrinho/_total.scss */
  .carrinho_total .total_btn {
    width: 50%;
  }
}
/* line 48, ../sass/partials/carrinho/_total.scss */
.carrinho_total .total_btn:hover {
  background-color: #545871;
  color: #e9a5ad;
}

/* line 2, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form h1 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
/* line 9, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form form label {
  color: #636363;
  font-size: 14px;
}
/* line 14, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form form input {
  border-radius: 0;
  height: 45px;
  background-color: rgba(215, 215, 215, 0.35) !important;
  border: 0;
  margin-bottom: 20px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  box-shadow: none !important;
}
/* line 26, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form form p {
  font-size: 11px;
  color: #636363;
}
/* line 33, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form .mall-cart-summary h4 {
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
/* line 42, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form .mall-cart-summary .mall-cart-summary__method-logo img {
  width: auto;
  max-height: 80px;
  max-width: 100%;
  margin-bottom: 15px;
}
/* line 51, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form .mall-cart-summary .mall-address p {
  font-size: 15px;
  color: #1D2126;
}
/* line 57, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form .mall-cart-summary a, .checkout_form .mall-cart-summary .pagination li:first-child span, .pagination li:first-child .checkout_form .mall-cart-summary span, .checkout_form .mall-cart-summary .pagination li:last-child span, .pagination li:last-child .checkout_form .mall-cart-summary span {
  color: #C44860;
  text-decoration: underline;
}
/* line 61, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form .mall-cart-summary a:hover, .checkout_form .mall-cart-summary .pagination li:first-child span:hover, .pagination li:first-child .checkout_form .mall-cart-summary span:hover, .checkout_form .mall-cart-summary .pagination li:last-child span:hover, .pagination li:last-child .checkout_form .mall-cart-summary span:hover {
  color: #1D2126;
}
/* line 68, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form .custom-checkbox label {
  font-size: 14px;
  color: #636363;
}
/* line 76, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: transparent;
}
/* line 80, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  content: '●';
  color: #5CB0C5;
  position: absolute;
  top: 1px;
  left: -19.5px;
}
/* line 93, ../sass/partials/checkout/_dados_envio.scss */
.checkout_form .custom-checkbox .custom-control-label::before {
  border: 2px solid rgba(215, 215, 215, 0.8) !important;
  box-shadow: none !important;
}

/* line 2, ../sass/partials/checkout/_total_checkout.scss */
.total_checkout h1 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
/* line 8, ../sass/partials/checkout/_total_checkout.scss */
.total_checkout p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}
/* line 13, ../sass/partials/checkout/_total_checkout.scss */
.total_checkout p.encomenda_produto_name {
  color: #636363;
  font-weight: 400;
}
/* line 18, ../sass/partials/checkout/_total_checkout.scss */
.total_checkout p.encomenda_produto_price {
  font-size: 15px;
  font-weight: 500;
}
/* line 23, ../sass/partials/checkout/_total_checkout.scss */
.total_checkout p.encomenda_produto_total {
  text-transform: uppercase;
  font-size: 16px;
}
/* line 28, ../sass/partials/checkout/_total_checkout.scss */
.total_checkout p.encomenda_produto_total_price {
  color: #e9a5ad;
  font-size: 20px;
  font-weight: 600;
}
/* line 38, ../sass/partials/checkout/_total_checkout.scss */
.total_checkout p.total_price {
  color: #e9a5ad;
  font-weight: 600;
  font-size: 20px;
}
/* line 45, ../sass/partials/checkout/_total_checkout.scss */
.total_checkout hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 1, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
/* line 7, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .radio_btn_checkout {
  background-color: transparent;
  border: 0;
}
@media screen and (max-width: 767px) {
  /* line 7, ../sass/partials/checkout/_metodo_pagamento.scss */
  .checkbox_metodo_box .radio_btn_checkout {
    padding-left: 0;
  }
}
/* line 16, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .radio_btn_checkout.radio_btn_checkout__checked .check_img {
  border: 2px solid #1D2126;
  opacity: 1;
}
/* line 22, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .radio_btn_checkout .check_img {
  width: 114px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border: 2px solid rgba(215, 215, 215, 0.9);
  cursor: pointer;
  align-items: center;
  margin: 0 auto;
}
/* line 34, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .radio_btn_checkout .check_img .paypal-logo {
  width: auto;
  max-width: 80%;
  max-height: 70%;
}
/* line 40, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .radio_btn_checkout .check_img .visa-logo {
  width: 25px;
}
/* line 44, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .radio_btn_checkout .check_img .american-logo {
  margin: 0 15px;
  width: 15px;
}
/* line 49, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .radio_btn_checkout .check_img .mastercard-logo {
  width: 25px;
}
/* line 53, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .radio_btn_checkout .check_img .mb-logo {
  width: 35px;
}
/* line 59, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .mall-payment-method__text {
  width: 100%;
}
/* line 64, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .mall-payment-method__text .mall-payment-method__heading .mall-payment-method__name p {
  font-weight: 300;
  display: block;
  text-transform: none;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
/* line 77, ../sass/partials/checkout/_metodo_pagamento.scss */
.checkbox_metodo_box .mall-payment-method__text .mall-payment-method__toggle {
  width: 100%;
}

/* line 83, ../sass/partials/checkout/_metodo_pagamento.scss */
.btn_comprar {
  background-color: #1D2126;
  color: #fff;
  width: 100%;
  font-size: 14px;
  height: 45px;
  border-radius: 0;
  font-weight: 600;
}
/* line 92, ../sass/partials/checkout/_metodo_pagamento.scss */
.btn_comprar:hover {
  background-color: #fff;
  color: #1D2126;
  border: 1px solid #1D2126;
}

/* line 1, ../sass/partials/login_registo/_login_registo.scss */
.container_login_registo {
  margin-bottom: 150px;
}
/* line 4, ../sass/partials/login_registo/_login_registo.scss */
.container_login_registo h1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 75px;
}
@media screen and (max-width: 768px) {
  /* line 4, ../sass/partials/login_registo/_login_registo.scss */
  .container_login_registo h1 {
    font-size: 17px;
  }
}
/* line 16, ../sass/partials/login_registo/_login_registo.scss */
.container_login_registo form label {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  /* line 16, ../sass/partials/login_registo/_login_registo.scss */
  .container_login_registo form label {
    font-size: 15px;
  }
}
/* line 26, ../sass/partials/login_registo/_login_registo.scss */
.container_login_registo form .form-control {
  height: 50px;
  border: 1px solid #D7D7D7;
  border-radius: 0;
  box-shadow: none !important;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  /* line 26, ../sass/partials/login_registo/_login_registo.scss */
  .container_login_registo form .form-control {
    height: 47px;
  }
}
/* line 38, ../sass/partials/login_registo/_login_registo.scss */
.container_login_registo form select {
  background-color: white;
  border: 1px solid #D7D7D7;
  border-radius: 0px;
  display: block;
  font: inherit;
  height: 50px;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #e9a5ad, #e9a5ad);
  background-position: calc(100% - 25px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0px;
  background-size: 8px 8px, 10px 9px, 50px 50px;
  background-repeat: no-repeat;
}
/* line 71, ../sass/partials/login_registo/_login_registo.scss */
.container_login_registo form a, .container_login_registo form .pagination li:first-child span, .pagination li:first-child .container_login_registo form span, .container_login_registo form .pagination li:last-child span, .pagination li:last-child .container_login_registo form span {
  text-transform: uppercase;
  color: #1D2126;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
  font-size: 12px;
  margin-bottom: 25px;
  margin-top: 15px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 71, ../sass/partials/login_registo/_login_registo.scss */
  .container_login_registo form a, .container_login_registo form .pagination li:first-child span, .pagination li:first-child .container_login_registo form span, .container_login_registo form .pagination li:last-child span, .pagination li:last-child .container_login_registo form span {
    font-size: 10px;
  }
}
/* line 86, ../sass/partials/login_registo/_login_registo.scss */
.container_login_registo form .btn {
  background-color: #1D2126;
  color: #e9a5ad;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  border-radius: 0;
  height: 50px;
  box-shadow: none !important;
  letter-spacing: 1px;
}
/* line 99, ../sass/partials/login_registo/_login_registo.scss */
.container_login_registo form .btn:hover {
  background-color: #e9a5ad;
  color: #1D2126;
}
@media screen and (max-width: 768px) {
  /* line 86, ../sass/partials/login_registo/_login_registo.scss */
  .container_login_registo form .btn {
    height: 47px;
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  /* line 2, ../sass/partials/contactos/_mapa.scss */
  .container_contactos_mapa .box_info_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }
}
/* line 10, ../sass/partials/contactos/_mapa.scss */
.container_contactos_mapa .box_info_contacto .col-12 {
  background-color: #e9a5ad;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
}
/* line 19, ../sass/partials/contactos/_mapa.scss */
.container_contactos_mapa .box_info_contacto .col-12 h1 {
  color: #545871;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 25px;
}
/* line 28, ../sass/partials/contactos/_mapa.scss */
.container_contactos_mapa .box_info_contacto .col-12 p {
  color: #fff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
/* line 35, ../sass/partials/contactos/_mapa.scss */
.container_contactos_mapa .box_info_contacto .col-12 p.contactos_social a, .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social .pagination li:first-child span, .pagination li:first-child .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social span, .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social .pagination li:last-child span, .pagination li:last-child .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social span {
  text-decoration: none;
  margin: 0 15px;
}
/* line 39, ../sass/partials/contactos/_mapa.scss */
.container_contactos_mapa .box_info_contacto .col-12 p.contactos_social a:first-child, .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social .pagination li:first-child span:first-child, .pagination li:first-child .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social span:first-child, .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social .pagination li:last-child span:first-child, .pagination li:last-child .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social span:first-child {
  margin-left: 0;
}
/* line 43, ../sass/partials/contactos/_mapa.scss */
.container_contactos_mapa .box_info_contacto .col-12 p.contactos_social a i, .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social .pagination li:first-child span i, .pagination li:first-child .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social span i, .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social .pagination li:last-child span i, .pagination li:last-child .container_contactos_mapa .box_info_contacto .col-12 p.contactos_social span i {
  color: #fff;
  font-size: 23px;
}

/* line 1, ../sass/partials/contactos/_form.scss */
.container_contactos_form {
  background-color: rgba(215, 215, 215, 0.2);
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 9, ../sass/partials/contactos/_form.scss */
.container_contactos_form h1 {
  font-size: 30px;
  color: #545871;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
/* line 17, ../sass/partials/contactos/_form.scss */
.container_contactos_form p {
  color: #545871;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 30px;
}
/* line 26, ../sass/partials/contactos/_form.scss */
.container_contactos_form form textarea.form-control {
  height: auto;
  margin-bottom: 30px;
}
/* line 32, ../sass/partials/contactos/_form.scss */
.container_contactos_form form .form-control {
  height: 40px;
  border: 1px solid rgba(215, 215, 215, 0.5);
  border-radius: 0;
  padding-left: 30px;
  box-shadow: none !important;
  resize: none;
  margin-bottom: 20px;
}
/* line 41, ../sass/partials/contactos/_form.scss */
.container_contactos_form form .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #95989A;
  /* Firefox */
}
/* line 49, ../sass/partials/contactos/_form.scss */
.container_contactos_form form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #95989A;
}
/* line 56, ../sass/partials/contactos/_form.scss */
.container_contactos_form form .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #95989A;
}
/* line 64, ../sass/partials/contactos/_form.scss */
.container_contactos_form form .btn {
  background-color: #545871;
  height: 40px;
  text-transform: uppercase;
  color: #e9a5ad;
  width: 100%;
  max-width: 170px;
}
/* line 72, ../sass/partials/contactos/_form.scss */
.container_contactos_form form .btn:hover {
  background-color: #e9a5ad;
  color: #545871;
}

/* line 3, ../sass/partials/dasboard/_nav_dasboard.scss */
.container_dasboard .nav_dasboard a, .container_dasboard .nav_dasboard .pagination li:first-child span, .pagination li:first-child .container_dasboard .nav_dasboard span, .container_dasboard .nav_dasboard .pagination li:last-child span, .pagination li:last-child .container_dasboard .nav_dasboard span {
  display: block;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #e9a5ad;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 992px) {
  /* line 3, ../sass/partials/dasboard/_nav_dasboard.scss */
  .container_dasboard .nav_dasboard a, .container_dasboard .nav_dasboard .pagination li:first-child span, .pagination li:first-child .container_dasboard .nav_dasboard span, .container_dasboard .nav_dasboard .pagination li:last-child span, .pagination li:last-child .container_dasboard .nav_dasboard span {
    font-size: 13px;
  }
}
/* line 16, ../sass/partials/dasboard/_nav_dasboard.scss */
.container_dasboard .nav_dasboard a:hover, .container_dasboard .nav_dasboard .pagination li:first-child span:hover, .pagination li:first-child .container_dasboard .nav_dasboard span:hover, .container_dasboard .nav_dasboard .pagination li:last-child span:hover, .pagination li:last-child .container_dasboard .nav_dasboard span:hover {
  text-decoration: none;
  color: #1D2126;
}
/* line 21, ../sass/partials/dasboard/_nav_dasboard.scss */
.container_dasboard .nav_dasboard a.active, .container_dasboard .nav_dasboard .pagination li:first-child span.active, .pagination li:first-child .container_dasboard .nav_dasboard span.active, .container_dasboard .nav_dasboard .pagination li:last-child span.active, .pagination li:last-child .container_dasboard .nav_dasboard span.active {
  font-weight: bold;
  color: #1D2126;
}
/* line 26, ../sass/partials/dasboard/_nav_dasboard.scss */
.container_dasboard .nav_dasboard a span, .container_dasboard .nav_dasboard .pagination li:first-child span span, .pagination li:first-child .container_dasboard .nav_dasboard span span, .container_dasboard .nav_dasboard .pagination li:last-child span span, .pagination li:last-child .container_dasboard .nav_dasboard span span {
  margin-right: 7px;
  font-size: 14px;
}

/* line 1, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard {
  margin-top: 80px;
  margin-bottom: 120px;
}
/* line 6, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box h1 {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  /* line 6, ../sass/partials/dasboard/_dasboard_conta.scss */
  .container_dasboard .dasboard_box h1 {
    font-size: 22px;
  }
}
/* line 17, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box h1::before {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #C44860;
  position: absolute;
  bottom: -15px;
  left: 0;
}
/* line 28, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box h2 {
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 20px;
}
/* line 34, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box hr {
  margin-top: 0;
  margin-bottom: 30px;
}
/* line 39, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box p {
  color: #95989A;
  font-size: 14px;
}
/* line 43, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box p.titulo {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #1D2126;
  margin-bottom: 26px;
}
/* line 51, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box p span {
  font-size: 14px;
  color: #1D2126;
  margin-right: 5px;
}
/* line 58, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box a, .container_dasboard .dasboard_box .pagination li:first-child span, .pagination li:first-child .container_dasboard .dasboard_box span, .container_dasboard .dasboard_box .pagination li:last-child span, .pagination li:last-child .container_dasboard .dasboard_box span {
  font-size: 16px;
  text-decoration: underline;
  margin-right: 5px;
  text-transform: capitalize;
  color: #C44860;
}
/* line 65, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box a:hover, .container_dasboard .dasboard_box .pagination li:first-child span:hover, .pagination li:first-child .container_dasboard .dasboard_box span:hover, .container_dasboard .dasboard_box .pagination li:last-child span:hover, .pagination li:last-child .container_dasboard .dasboard_box span:hover {
  color: #1D2126;
  font-weight: 600;
}
/* line 73, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box .listagem_moradas p {
  color: #545871;
}
/* line 76, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box .listagem_moradas p span {
  font-weight: 500;
  font-size: 16px;
  display: block;
}
/* line 83, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box .listagem_moradas .btn_a, .container_dasboard .dasboard_box .listagem_moradas .btn_a--rev {
  font-size: 15px;
  color: #e9a5ad;
  text-decoration: none;
  box-shadow: none;
  text-transform: uppercase;
}
/* line 90, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box .listagem_moradas .btn_a:hover, .container_dasboard .dasboard_box .listagem_moradas .btn_a--rev:hover {
  color: #1D2126;
}
/* line 95, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box .listagem_moradas .btn_a--rev {
  background-color: #e9a5ad !important;
  color: #1D2126 !important;
}
/* line 100, ../sass/partials/dasboard/_dasboard_conta.scss */
.container_dasboard .dasboard_box .listagem_moradas .btn_a--rev:hover {
  background-color: #1D2126 !important;
  color: #e9a5ad !important;
}

/* line 2, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #D7D7D7;
}
@media screen and (max-width: 992px) {
  /* line 2, ../sass/partials/dasboard/_tabela_encomendas.scss */
  .dasboard_box table {
    border: 0;
  }
}
/* line 14, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table thead {
  background-color: #413444;
  height: 60px;
}
@media screen and (max-width: 992px) {
  /* line 14, ../sass/partials/dasboard/_tabela_encomendas.scss */
  .dasboard_box table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
/* line 30, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table th {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  color: #e9a5ad;
  height: 60px;
}
/* line 37, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table th:first-child {
  text-transform: capitalize;
}
/* line 42, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table tr {
  border-bottom: 1px solid #D7D7D7;
  padding: .35em;
}
@media screen and (max-width: 992px) {
  /* line 42, ../sass/partials/dasboard/_tabela_encomendas.scss */
  .dasboard_box table tr {
    border: 1px solid #95989A;
    display: block;
    margin-bottom: 20px;
    background-color: #413444;
  }
}
/* line 53, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table tr.product_row {
  border-bottom: 1px solid #D7D7D7;
}
/* line 58, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table tr.mall-orders-list__details td {
  text-align: left;
}
/* line 63, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table tr.mall-orders-list__details td .mall-order-details__row .mall-order-details__detail {
  margin-bottom: 15px;
  border-bottom: 1px solid #e9a5ad;
  padding-bottom: 15px;
}
/* line 68, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table tr.mall-orders-list__details td .mall-order-details__row .mall-order-details__detail h5 {
  color: #fff;
}
@media screen and (min-width: 993px) {
  /* line 68, ../sass/partials/dasboard/_tabela_encomendas.scss */
  .dasboard_box table tr.mall-orders-list__details td .mall-order-details__row .mall-order-details__detail h5 {
    color: #413444;
  }
}
/* line 82, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table th,
.dasboard_box table td {
  padding: .625em;
}
/* line 87, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table td {
  text-align: center;
  height: 60px;
}
@media screen and (max-width: 992px) {
  /* line 87, ../sass/partials/dasboard/_tabela_encomendas.scss */
  .dasboard_box table td {
    border-bottom: 1px solid #95989A;
    display: block;
    text-align: right;
    height: auto;
  }
  /* line 97, ../sass/partials/dasboard/_tabela_encomendas.scss */
  .dasboard_box table td:last-child {
    border-bottom: 0;
  }
  /* line 101, ../sass/partials/dasboard/_tabela_encomendas.scss */
  .dasboard_box table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #e9a5ad;
    font-size: 14px;
  }
}
/* line 111, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table td p {
  font-size: 14px;
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  /* line 111, ../sass/partials/dasboard/_tabela_encomendas.scss */
  .dasboard_box table td p {
    color: #e9a5ad !important;
  }
}
/* line 121, ../sass/partials/dasboard/_tabela_encomendas.scss */
.dasboard_box table td span.view {
  background-color: #413444;
  color: #e9a5ad;
  font-size: 12px;
  text-decoration: none !important;
  padding: 10px 25px;
  border-radius: 18px;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  /* line 121, ../sass/partials/dasboard/_tabela_encomendas.scss */
  .dasboard_box table td span.view {
    background-color: #e9a5ad;
    color: #413444;
    padding: 7px 20px;
  }
}

/* line 6, ../sass/partials/dasboard/_edit_form.scss */
.dasboard_box .edit_form .form-group label,
.dasboard_box .edit_form .form-row label {
  font-size: 14px;
  color: #95989A;
}
/* line 11, ../sass/partials/dasboard/_edit_form.scss */
.dasboard_box .edit_form .form-group .form-control,
.dasboard_box .edit_form .form-row .form-control {
  height: 45px;
  border-radius: 0;
  box-shadow: none !important;
  margin-bottom: 25px;
}
/* line 18, ../sass/partials/dasboard/_edit_form.scss */
.dasboard_box .edit_form .form-group .custom-control,
.dasboard_box .edit_form .form-row .custom-control {
  margin-bottom: 15px;
}
/* line 21, ../sass/partials/dasboard/_edit_form.scss */
.dasboard_box .edit_form .form-group .custom-control label,
.dasboard_box .edit_form .form-row .custom-control label {
  line-height: 28px;
  padding-left: 14px;
}
/* line 29, ../sass/partials/dasboard/_edit_form.scss */
.dasboard_box .edit_form .form-group .custom-control .custom-control-input:checked ~ .custom-control-label::before,
.dasboard_box .edit_form .form-row .custom-control .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #e9a5ad;
}
/* line 38, ../sass/partials/dasboard/_edit_form.scss */
.dasboard_box .edit_form .form-group .custom-control .custom-control-label::before, .dasboard_box .edit_form .form-group .custom-control .custom-control-label::after,
.dasboard_box .edit_form .form-row .custom-control .custom-control-label::before,
.dasboard_box .edit_form .form-row .custom-control .custom-control-label::after {
  width: 20px;
  height: 20px;
}
/* line 44, ../sass/partials/dasboard/_edit_form.scss */
.dasboard_box .edit_form .form-group .custom-control .custom-control-label::before,
.dasboard_box .edit_form .form-row .custom-control .custom-control-label::before {
  border: 1px solid #D7D7D7;
  box-shadow: none !important;
}
/* line 51, ../sass/partials/dasboard/_edit_form.scss */
.dasboard_box .edit_form .form-group .btn,
.dasboard_box .edit_form .form-row .btn {
  color: #e9a5ad;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #1D2126;
  width: 100%;
  max-width: 150px;
  height: 46px;
  border: 0;
  box-shadow: none !important;
}
/* line 62, ../sass/partials/dasboard/_edit_form.scss */
.dasboard_box .edit_form .form-group .btn:hover,
.dasboard_box .edit_form .form-row .btn:hover {
  background-color: #e9a5ad;
  color: #1D2126;
}

/* line 2, ../sass/partials/faqs/_faqs_card.scss */
.container_faqs .card {
  border: 0;
}
/* line 5, ../sass/partials/faqs/_faqs_card.scss */
.container_faqs .card .card-header {
  background-color: transparent;
  border: 0;
}
/* line 10, ../sass/partials/faqs/_faqs_card.scss */
.container_faqs .card .card-header h5 .btn {
  font-size: 18px;
  color: #1D2126;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 10, ../sass/partials/faqs/_faqs_card.scss */
  .container_faqs .card .card-header h5 .btn {
    font-size: 15px;
  }
}
/* line 23, ../sass/partials/faqs/_faqs_card.scss */
.container_faqs .card .card-header h5 .btn[aria-expanded="true"] span::before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: -5px;
}
@media screen and (min-width: 769px) {
  /* line 23, ../sass/partials/faqs/_faqs_card.scss */
  .container_faqs .card .card-header h5 .btn[aria-expanded="true"] span::before {
    margin: -3px;
  }
}
/* line 37, ../sass/partials/faqs/_faqs_card.scss */
.container_faqs .card .card-header h5 .btn[aria-expanded="false"] span::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 5px;
}
@media screen and (min-width: 769px) {
  /* line 37, ../sass/partials/faqs/_faqs_card.scss */
  .container_faqs .card .card-header h5 .btn[aria-expanded="false"] span::before {
    margin: 3px;
  }
}
/* line 49, ../sass/partials/faqs/_faqs_card.scss */
.container_faqs .card .card-header h5 .btn span {
  width: 30px;
  height: 30px;
  border: 1px solid #D7D7D7;
  display: inline-block;
  margin-right: 15px;
}
/* line 56, ../sass/partials/faqs/_faqs_card.scss */
.container_faqs .card .card-header h5 .btn span::before {
  content: '';
  border: solid #e9a5ad;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
}
/* line 69, ../sass/partials/faqs/_faqs_card.scss */
.container_faqs .card .card-body > p {
  color: #636363;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
  padding-left: 34px;
}
@media screen and (max-width: 768px) {
  /* line 69, ../sass/partials/faqs/_faqs_card.scss */
  .container_faqs .card .card-body > p {
    font-size: 12px;
  }
}

/* line 91, ../sass/style.scss */
.btn_a, .container_dasboard .dasboard_box .listagem_moradas .btn_a--rev {
  background-color: #1D2126;
  color: #e9a5ad;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 30px;
  font-size: 15px;
}
/* line 101, ../sass/style.scss */
.btn_a:hover, .container_dasboard .dasboard_box .listagem_moradas .btn_a--rev:hover {
  background-color: #e9a5ad;
  color: #1D2126;
  text-decoration: none;
}

/* line 109, ../sass/style.scss */
.bootstrap-select {
  width: 100% !important;
}
/* line 112, ../sass/style.scss */
.bootstrap-select .dropdown-toggle {
  background-color: transparent !important;
  border: 1px solid #D7D7D7;
  border-radius: 0;
  height: 45px;
  color: #95989A;
}
/* line 119, ../sass/style.scss */
.bootstrap-select .dropdown-toggle:focus {
  box-shadow: none !important;
  outline: 0 !important;
}
/* line 124, ../sass/style.scss */
.bootstrap-select .dropdown-toggle::after {
  content: '';
  border: solid #D7D7D7;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-right: 15px;
}
/* line 139, ../sass/style.scss */
.bootstrap-select .dropdown-menu ul li a, .bootstrap-select .dropdown-menu ul .pagination li:first-child span, .pagination .bootstrap-select .dropdown-menu ul li:first-child span, .bootstrap-select .dropdown-menu ul .pagination li:last-child span, .pagination .bootstrap-select .dropdown-menu ul li:last-child span {
  background-color: transparent;
  color: #1D2126;
}
/* line 143, ../sass/style.scss */
.bootstrap-select .dropdown-menu ul li a:hover, .bootstrap-select .dropdown-menu ul .pagination li:first-child span:hover, .pagination .bootstrap-select .dropdown-menu ul li:first-child span:hover, .bootstrap-select .dropdown-menu ul .pagination li:last-child span:hover, .pagination .bootstrap-select .dropdown-menu ul li:last-child span:hover {
  background-color: rgba(233, 165, 173, 0.25);
}
