==
{##}
<div class="col-12">
    <h1>
        categoria
    </h1>
    {# CATEGORIA SELECIONADA #}
    <a class="{% if this.param.slug == categoria_selecionada.slug %}active{% endif %} categoria_pai" href="{{ 'loja'|page({slug: categoria_selecionada.slug}) }}">
            {{categoria_selecionada.name}}
    </a>
    {% for child in categoria_selecionada.getAllChildren() %}
        <a class="{% if this.param.slug == categoria_selecionada.slug~'/'~child.slug %}active{% endif %} categoria_filho" href="{{ 'loja'|page({slug: categoria_selecionada.slug~'/'~child.slug}) }}">
            {{child.name}}
        </a>
    {% endfor %}

    {# CATEGORIAS NÃO SELECIONADAS #}
    {% for categoria in categorias %}
        <a class="{% if this.param.slug == categoria.slug %}active{% endif %} categoria_pai" href="{{ 'loja'|page({slug: categoria.slug}) }}">
                {{categoria.name}}
        </a>
        {% for child in categoria.getAllChildren() %}
            <a class="{% if this.param.slug == categoria.slug~'/'~child.slug %}active{% endif %} categoria_filho" href="{{ 'loja'|page({slug: categoria.slug~'/'~child.slug}) }}">
                {{child.name}}
            </a>
        {% endfor %}
    {% endfor %}
</div>