==
<div class="col-12 mt-5">
    <h1>
        Coleção
    </h1>
    <a class="active" href="">
        Todos
    </a>
    <a class="" href="">
        Platinum Line
    </a>
    <a class="" href="">
        Gold Line
    </a>
    
    

</div>