==
{##}
<div class="container container_loja">
    <div class="row">
        <div class="col-md-6 text-right order-md-2">
            <!-- Paginação -->
            {% partial 'loja/paginacao' %}
        </div>
        <div class="col-md-6 order-md-1">
            <!-- Sort By -->
            <div class="row">
                <div class="col-12 mb-4">    
                    {% component 'mallProductsFilter' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Listagem -->
    <div class="row">
        <div class="col-12">
            <hr class="mb-5 mt-0">
        </div>

        <!-- Button Open Filtros Mobile -->
        <span class="btn_loja_filter page_filter d-flex align-items-center d-md-none">
            <div class="">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <p class="d-inline-block mb-0">
                Filtros
            </p>
        </span>

        <!-- Filtros -->
        <div class="col-md-2 loja_filtros">
            <span class="btn_loja_filter close_loja_filter d-md-none">

            </span>

            <!-- Categorias -->
            <div class="row">
                {% partial 'loja/categorias' %}
            </div>
        </div>

        <div class="col-md-10">
        
            <!-- Listagem Produto -->
            {% component 'mallProducts' %}

            <div class="row">
                <div class="col-12 text-right">
                    <!-- Paginação -->
                    {% partial 'loja/paginacao' %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script Mobile BTN Filters -->
{% put scripts %}
<script>

$(document).ready(function () {
    $('.btn_loja_filter').on('click', function (e) {
        $('.loja_filtros').toggleClass("open");
        $('body').toggleClass("overflow-hidden");
        e.preventDefault();
    });
});

</script>
{% endput %}