title = "Minha Informação"
url = "/dasboard_edit_info"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "login_registo"

[myAccount mallMyAccount]
page = "profile"

[customerProfile mallCustomerProfile]
==
<div class="container container_dasboard">
    <div class="row">
        <!-- Nav Links Page Dasboars -->
        {% partial 'dasboard/nav_dasboard' %}

        <!-- Conteudo Pagina -->
        {% partial 'dasboard/dasboard_edit_info' %}
    </div>
</div>