title = "Minha Conta Dasboard"
url = "/dasboard_conta/:page?"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "login_registo"

[juntaCustomerProfile]

[myAccount mallMyAccount]
page = "{{ :page }}"

==
{##}
<div class="container container_dasboard">
    <div class="row">
        <!-- Nav Links Page Dasboars -->
        {% partial 'dasboard/nav_dasboard' %}

        <!-- Conteudo Pagina -->
        {% component 'mallMyAccount'%}
        {# {% partial 'dasboard/dasboard_conta' %} #}
    </div>
</div>