title = "Minha Informação"
url = "/dasboard_new_morada"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "login_registo"

[myAccount mallMyAccount]
page = "profile"

[customerProfile mallCustomerProfile]
==
{##}
<div class="container container_dasboard">
    <div class="row">
        <!-- Nav Links Page Dasboars -->
        {% partial 'dasboard/nav_dasboard' %}

        <!-- Conteudo Pagina -->
        <div class="col-md-8 dasboard_box">
            <h1>
                {{'As Minhas Moradas'|_}}
            </h1>
            <form class="edit_form" data-request="{{ __SELF__ }}::onSubmit" data-request-validate data-request-flash>
                <div class="row mb-4">
                    <div class="col-12">
                        <h2>
                            {{'Adicionar Morada'|_}}
                        </h2>
                        <hr>

                        <div class="form-group">
                            <label for="morada_edit">
                                {{'Morada'|_}}*
                            </label>
                            <input type="text" class="form-control" id="morada_edit">
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="postal_edit">
                                    {{'Código-Postal'|_}}*
                                </label>
                                <input type="text" id="postal_edit" class="form-control">
                            </div>
                            <div class="col">
                                <label for="cidade_edit">
                                    {{'Cidade'|_}}*
                                </label>
                                <input type="text" id="cidade_edit" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pais_edit">
                                {{'Pais'|_}}*
                            </label>
                            <input type="text" class="form-control" id="pais_edit">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="faturacao">
                                <label class="custom-control-label" for="faturacao">
                                    {{'Usar como morada de facturação'|_}}
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="envio">
                                <label class="custom-control-label" for="envio">
                                    {{'Usar como morada de envio'|_}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn mt-4">
                                {{'GRAVAR'|_}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
