title = "Minhas Encomendas Dasboard"
url = "/dasboard_encomendas"
layout = "default"
is_hidden = 0

[session]
security = "all"

[myAccount mallMyAccount]
page = "orders"

[customerProfile mallCustomerProfile]

[ordersList mallOrdersList]
==
<div class="container container_dasboard">
    <div class="row">
        <!-- Nav Links Page Dasboars -->
        {% partial 'dasboard/nav_dasboard' %}

        <!-- Conteudo Pagina -->
        {# {% partial 'dasboard/dasboard_encomendas' %} #}
        
        {% component 'mallOrdersList' %}

    </div>
</div>