title = "Os Meus Endereços"
url = "/enderecos/:address?/:redirect?/:set?"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "login_registo"

[addressForm mallAddressForm]
address = "{{ :address }}"
redirect = "{{ :redirect }}"
set = "{{ :set }}"
==
{##}
<div class="container container_dasboard">
    <div class="row">
        <!-- Nav Links Page Dasboars -->
        {% partial 'dasboard/nav_dasboard' %}

        <!-- Conteudo Pagina -->
        <div class="col-md-8 dasboard_box">
            <div class="row">
            <h1>
                {{'As Minhas Moradas'|_}}
            </h1>
            
            </div>
            {% component 'mallAddressForm' %}        

        </div>
        {# {% partial 'dasboard/dasboard_conta' %} #}
    </div>
</div>
