{##}
<p class="lead">
Por favor verifique que recebeu o link para alteração da password no seu email.
</p>

{% if  __SELF__.code %}

<form
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
    <div class="form-group" style="display: none ">
        <label for="resetCode">Código de Ativação</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="Código de Ativação" value="{{ __SELF__.code }}" hidden>
    </div>

    <div class="form-group">
        <label for="resetPassword">Nova Password</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="Nova password">
    </div>
    <div class="form-group">
        <label for="txtConfirmPassword">Confirmar Password</label>
        <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirmar password">
    </div>

    <button type="submit" id ="btnSubmit" class="btn btn-default"> Submeter</button>
</form>
{% endif %}
{% put scripts %}
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#resetPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();
            if (password != confirmPassword) {
                alert("As Passwords não são iguais");
                return false;
            }
            return true;
        });
    });
</script>
{% endput %}