{##}
<p class="lead">
    <strong>Esqueceu-se da sua password?</strong> Insira o seu email para validarmos a sua conta.
</p>

<form
    data-request="{{ __SELF__ }}::onRestorePassword"
    data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'">
    <div class="form-group">
        <label for="userRestoreEmail">Email</label>
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="Insira o seu email">
    </div>

    <button type="submit" class="btn btn-default">Recuperar Password</button>
</form>
