// Font
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
// font-family: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');
// font-family: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
// font-family: 'PT Sans', sans-serif;

// Principal
@import 'geral/cor';
@import 'geral/media';



html,
body,
p,
a {
    font-family: 'Poppins', sans-serif;
    color: $black;
}

.dropdown-toggle {
    .filter-option {
        .filter-option-inner {
            height: 100%;

            .filter-option-inner-inner {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// Partials

// Geral
@import 'geral/navbar';
@import 'geral/footer';
@import 'geral/card_vestido';
@import 'geral/banner';

// Home Page
@import 'partials/home/banner';
@import 'partials/home/nossos_vestidos';
@import 'partials/home/about';

// Loja Page
@import 'partials/loja/loja';
@import 'partials/loja/filtros';
@import 'partials/loja/pagination';

// Produto Page
@import 'partials/produto_page/produto_page';
@import 'partials/produto_page/modal_addItem';

// Carrinho
@import 'partials/carrinho/tabela_produto';
@import 'partials/carrinho/shipping';
@import 'partials/carrinho/total';

// Checkout
@import 'partials/checkout/dados_envio';
@import 'partials/checkout/total_checkout';
@import 'partials/checkout/metodo_pagamento';

// Login Registo
@import 'partials/login_registo/login_registo';

// Contactos
@import 'partials/contactos/mapa';
@import 'partials/contactos/form';

// Dasboard
@import 'partials/dasboard/nav_dasboard';
@import 'partials/dasboard/dasboard_conta';
@import 'partials/dasboard/tabela_encomendas';
@import 'partials/dasboard/edit_form';

// Faq's
@import 'partials/faqs/faqs_card';


// Style Geral

.btn_a {
    background-color: $black;
    color: $pink;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 30px;
    font-size: 15px;

    &:hover {
        background-color: $pink;
        color: $black;
        text-decoration: none;
    }
}

// Style lelect Site
.bootstrap-select {
    width: 100% !important;

    .dropdown-toggle {
        background-color: transparent !important;
        border: 1px solid $cinza_clara;
        border-radius: 0;
        height: 45px;
        color: $cinza;

        &:focus {
            box-shadow: none !important;
            outline: 0 !important;
        }

        &::after {
            content: '';
            border: solid $cinza_clara;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 4px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-right: 15px;
        }
    }

    .dropdown-menu {
        ul {
            li {
                a {
                    background-color: transparent;
                    color: $black;

                    &:hover {
                        background-color: rgba($pink, .25);
                    }
                }
            }
        }
    }
}
