==
{##}
<div class="container">
    <div class="row">
        <div class="col-lg-12 checkout_form">
            {% component 'mallCheckout' %}
            {# <!-- Dados de Envio -->
            {% partial 'checkout/dados_envio' %}
            
            <!-- Dados de Faturação -->
            {% partial 'checkout/dados_faturacao' %} #}
            
        </div>
        {# <div class="col-md-8 col-lg-4 offset-md-2 offset-lg-1"> #}
            {# {% partial 'checkout/total_encomenda' %}
            {% partial 'checkout/metodo_pagamento' %} #}
        {# </div> #}
    </div>
</div>