{##}
<div class="row mb-4">
    <div class="col-12">
        <h1>
            {{'DADOS DE FATURAÇÃO'|_}}
        </h1>
    </div>
    <div class="col-12">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="check_igual_envio" checked >
            <label class="custom-control-label" for="check_igual_envio">
                {{'Igual aos Dados de Envio'|_}}
            </label>
        </div>
    </div>
</div>
<form class="form_faturacao d-none">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="promeiro_nome">
                {{'Primeiro Nome'|_}}
            </label>
            <input type="text" class="form-control" id="promeiro_nome">
        </div>
        <div class="form-group col-md-6">
            <label for="apelido">
                {{'Apelido'|_}}
            </label>
            <input type="text" class="form-control" id="apelido">
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="tlm">
                {{'Telefone'|_}}
            </label>
            <input type="text" class="form-control" id="tlm">
        </div>
        <div class="form-group col-md-6">
            <label for="nif">
                {{'NIF'|_}}
            </label>
            <input type="number" class="form-control" id="nif">
        </div>
    </div>
    <div class="form-group">
        <label for="morada">
            {{'Morada'}}
        </label>
        <input type="text" class="form-control mb-4" id="morada" placeholder="{{'NOME DA RUA OU AVENIDA'}}">
        <input type="text" class="form-control" placeholder="{{'APARTAMENTO, CASA, BLOCO, ETC'}}">
    </div>
    <div class="form-group">
        <label for="morada">
            {{'Pais'}}
        </label>
        <input type="text" class="form-control mb-4" id="morada">
        <input type="text" class="form-control">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="postal">
                {{'Codigo Postal'|_}}
            </label>
            <input type="number" class="form-control" id="postal">
        </div>
        <div class="form-group col-md-6">
            <label for="localidade">
                {{'Localidade'|_}}
            </label>
            <input type="text" class="form-control" id="localidade">
        </div>
    </div>
</form>


{% put scripts %}
<script>
    jQuery("#check_igual_envio").change(function () {
        jQuery(".form_faturacao").toggleClass("d-none", this.checked);
    });

</script>
{% endput %}
