==
{##}
<form >
    <div class="form-group">
        <h1>
            {{'Dados de Envio'|_}}
        </h1>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="promeiro_nome">
                {{'Primeiro Nome'|_}}*
            </label>
            <input type="text" class="form-control" id="promeiro_nome" name="Shipping[firstname]" value="{{ user.customer.firstname }}">
        </div>
        <div class="form-group col-md-6">
            <label for="apelido">
                {{'Apelido'|_}}*
            </label>
            <input type="text" class="form-control" id="apelido" name="Shipping[lastname]" value="{{ user.customer.lastname }}">
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="Shipping[email]" value="{{ user.email }}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="tlm">
                {{'Telefone'|_}}*
            </label>
            <input type="text" class="form-control" name="Shipping[telemovel]" id="tlm">
        </div>
        <div class="form-group col-md-6">
            <label for="nif">
                {{'NIF'|_}}*
            </label>
            <input type="number" class="form-control" name="Shipping[nif]" id="nif">
        </div>
    </div>

    
    <div class="form-group">
        <label for="morada">
            {{'Morada'}}*
        </label>
        <input type="textarea" name="Shipping[morada]" rows="3" class="form-control mb-4" id="morada" placeholder="{{'NOME DA RUA OU AVENIDA'}}" value="{{ morada.lines | nl2br }}">
    </div>
    <div class="form-group">
        <label for="morada">
            {{'Pais'}}*
        </label>
        <input type="text" class="form-control mb-4" id="country" name="Shipping[country]" value="{{ morada.country.name }}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="postal">
                {{'Codigo Postal'|_}}*
            </label>
            <input type="number" class="form-control" id="postal" name="Shipping[zip]" value="{{ morada.zip }}">
        </div>
        <div class="form-group col-md-6">
            <label for="localidade">
                {{'Localidade'|_}}*
            </label>
            <input type="text" class="form-control" name="Shipping[city]" id="localidade">
        </div>
        <div class="form-group col-md-12">
            <p>
                * {{'dados de preenchimento obrigatório'|_}}
            </p>
        </div>
    </div>
</form>