{##}

<div class="row total_checkout">
    <div class="col-12">
        <h1>
            {{'Método de Pagamento'|_}}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12 checkbox_metodo_box">
    {# {{paymentMethodSelector|json_encode}}
    {{mallCart.paymentMethodSelector|json_encode}} #}
        {# {% for method in paymentMethodSelector.methods %}
                {{method}}
        {% endfor %} #}

        <!-- Pay Pal Card -->
        <label>
            <input type="radio" name="payment_method_id" onclick="selectStripe()" value="{{methodPayment.code}}">
            <div class="check_img">
                <img class="paypal-logo" src="{{'assets/img/m_pagamento/paypal-logo.svg'|theme}}">
            </div>
        </label>

        <!-- Visa Card -->
        <label>
            <input type="radio" name="payment_method_id" id="stripe_method" onclick="selectStripe()"
                value="{{methodPayment.code}}">
            <div class="check_img">
                <img class="visa-logo" src="{{'assets/img/m_pagamento/visa-logo.svg'|theme}}">
                <img class="american-logo" src="{{'assets/img/m_pagamento/american-logo.svg'|theme}}" alt="">
                <img class="mastercard-logo" src="{{'assets/img/m_pagamento/mastercard-logo.svg'|theme}}" alt="">
            </div>
        </label>

        <!-- MB Card -->
        <label>
            <input type="radio" name="payment_method_id" onclick="selectStripe()" value="{{methodPayment.code}}">
            <div class="check_img">
                <img class="mb-logo" src="{{'assets/img/m_pagamento/mb-logo.svg'|theme}}">
            </div>
        </label>
    </div>
</div>
<div id="div_finalizar_compra">
</div>

{% put scripts %}
<script>

</script>
{% endput %}