==
<div class="row total_checkout">
    <div class="col-12">
        <h1>
            {{'A SUA ENCOMENDA'|_}}
        </h1>
    </div>
    <div class="col-12">
        <hr>
    </div>

    <div class="col-12">
        <!-- Listagem Produtos -->
        {% for product in cart.products %}
                
        <div class="row">
            <div class="col-6 mb-4">
                <p class="encomenda_produto_name">
                    {{ product.quantity }} x {{ product.variant.name }}
                </p>
            </div>
            <div class="col-6">
                <p class="encomenda_produto_price text-right">
                    {{ product.price() }}
                </p>
            </div>
        </div>
        
        {% endfor %}
    </div>


    <div class="col-12">
        <hr>
    </div>

    <!-- Subtotal -->
        
    {% set totals=cart.totals %}
    {% set discounts=cart.totals.appliedDiscounts %}
    {% set shipping=cart.totals.shippingTotal %}
    {% set payment=cart.totals.paymentTotal %}
    {% set totals=cart.totals %}
    {% set taxes=cart.totals.taxes %}    
    
    
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <p class="">
                    {{'Subtotal'}}
                </p>
            </div>
            <div class="col-6">
                <p class=" text-right">
                    {{ totals.productPostTaxes | money }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <hr>
    </div>

    <div class="col-12">
        <!-- Shipping -->
        <div class="row">
            <div class="col-6">
                <p class="">
                    {{'Shipping'}}
                </p>
            </div>
            <div class="col-6">
                <p class=" text-right">
                    {{ shipping.totalPostTaxes | money }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <!-- Preço Total -->
        <div class="row">
            <div class="col-6">
                <p class="encomenda_produto_total">
                    {{'Total'}}
                </p>
            </div>
            <div class="col-6">
                <p class="encomenda_produto_total_price text-right">
                   {{ totals.totalPostTaxes | money }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <hr>
    </div>
</div>