==
{##}
<div class="form-row">
    <div class="col-12">
        <label for="{{ type }}_company">{{ 'Empresa (facultativo)'|_ }}</label>
        <input class="form-control" id="{{ type }}_company" type="text" name="{{ type }}_company">
        <div data-validate-for="{{ type }}_company"></div>
    </div>
</div>
<div class="form-row">
    <div class="col-12">
        <label for="{{ type }}_address_name">{{ 'Nome'|_ }}</label>
        <input class="form-control" id="{{ type }}_address_name" type="text" name="{{ type }}_address_name">
        <div data-validate-for="{{ type }}_address_name"></div>
    </div>
</div>
<div class="form-row">
    <div class="col-12">
        <label for="{{ type }}_zip">{{ 'NIF (facultativo)'|_ }}</label>
        <input class="form-control" id="{{ type }}_nif" name="{{ type }}_nif" type="text">
        <div data-validate-for="{{ type }}_nif"></div>
    </div>

</div>
<div class="form-row">
    <div class="col-6">
        <label for="{{type}}_telefone">{{'Telefone'|_}}</label>
        <input class="form-control" id="{{type}}_telefone" type="text"
            value="{{address.telefone}}"
            name="{{type}}_telefone">
        <div data-validate-for="{{type}}_telefone"></div>
    </div>
</div>

<div class="form-row">
    <div class="col-12">
        <label for="{{ type }}_lines">{{'Morada'|_ }}</label>
        <textarea class="form-control" style="height: auto" id="{{ type }}_lines" type="text" name="{{ type }}_lines"></textarea>
        <div data-validate-for="{{ type }}_lines"></div>
    </div>

</div>
<div class="mall-two-fields">
    <div class="form-row">
        <div class="col-12">
            <label for="{{ type }}_zip">{{ 'Código Postal'|_ }}</label>
            <input  class="form-control" 
                    pattern="[0-9]{4}[\-]?[0-9]{3}" 
                    title = "Por favor use o formato xxxx-xxx"
                    id="{{ type }}_zip" name="{{ type }}_zip" type="text">
            <div data-validate-for="{{ type }}_zip"></div>
        </div>

    </div>
    <div class="form-row">
        <div class="col-12">
            <label for="{{ type }}_city">{{ 'Localidade'|_ }}</label>
            <input class="form-control" id="{{ type }}_city" name="{{ type }}_city" type="text">
            <div data-validate-for="{{ type }}_city"></div>
        </div>

    </div>
</div>
<div class="{{ __SELF__.useState ? 'mall-two-fields' }}" id="countryState_{{ type }}">
    {% partial __SELF__ ~ '::countrystate' type=type %}
</div>
<br>
<div class="form-row">
    <div class="col-12">
        <label for="{{ type }}_details">{{'Informações Adicionais'|_ }}</label>
        <textarea   class="form-control" 
                    style="height: auto" id="{{ type }}_details" 
                    type="text" 
                    name="{{ type }}_details"></textarea>
        <div data-validate-for="{{ type }}_details"></div>
    </div>
</div>
{% put scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script>
    $(document).ready(function () { 
            var $campo = $("#{{ type }}_zip");
            $campo.mask('0000-000', {reverse: true});
        });
</script>
{% endput %}