==
{##}
<div class="container container_login_registo">
    <div class="row">
        <div class="col-md-6">
            <!-- Form Login -->
            <h1>
                {{'ENTRE COM A SUA CONTA'|_}}
            </h1>
            {% partial __SELF__ ~ '::signin' %}
        </div>
        <div class="col-md-6">
            <!-- Form Registo -->
            <h1 class="mt-5 mt-md-0">
                {{'OU CRIE A SUA NOVA CONTA'|_}}
            </h1>
            {% partial __SELF__ ~ '::signup' %}
        </div>
    </div>
</div>

{% partial __SELF__ ~ '::scripts' %}