==
{##}

<form data-request="onSignin" data-request-validate data-request-flash>
    <div class="form-group">
        <label for="signin_email">{{'O seu endereço de e-mail'|_}}*</label>
        <input id="signin_email" class="form-control" name="login" type="text">
        <div data-validate-for="login"></div>
    </div>
    <div class="form-group">
        <label for="signin_password">{{'A sua password'|_}}*</label>
        <input id="signin_password" class="form-control" type="password"
               name="password">
        <div data-validate-for="password"></div>
    </div>
    <div class="mall-form-actions">
        <button type="submit" class="btn w-100">
            {{'Login'|_}}
        </button>
        {% partial __SELF__ ~ '::reset_password' %}
    </div>
</form>
