==
{##}
{% put styles %}
<style>
    .form-row .visible{
        color: red;
    }
</style>
{% endput %}

<form data-request="onSignup" data-request-validate data-request-flash>

    <div class="form-row">
        <div class="col-12">
            <label for="signup_email">{{ 'offline.mall::frontend.form.email' | trans }}</label>
            <input class="form-control" id="signup_email" type="email" placeholder="email@email.com" name="email">
            <div data-validate-for="email"></div>
        </div>     
    </div>
    
    <div class="form-row">
        <div class="col-12 col-md-6">
            <label for="firstname">{{ 'Nome'|_ }}</label>
            <input class="form-control" id="firstname" type="text" name="firstname">
            <div data-validate-for="firstname"></div>
        </div>
        
        <div class="col-12 col-md-6">
            <label for="lastname">{{ 'Apelido'|_ }}</label>
            <input class="form-control" id="lastname" type="text" name="lastname">
            <div data-validate-for="lastname"></div>
        </div>
        
    </div>
    {% if this.page.baseFileName != 'login_registo' %}
        <div class="form-row">
            <div class="mall-signup__guest-option">
                <label class="mall-checkbox">
                    <input class="js-mall-toggle-guest-signup"
                        type="checkbox" name="as_guest"
                        value="1">
                    <span>
                        {{ 'Não pretento criar uma conta'|_ }}
                    </span>
                </label>
            </div>
        </div>
    {% endif %}


    <div class="form-row mall-signup__password-inputs">
        <div class="col-12 col-md-6">
            <label for="signup_password">{{ 'Password'|_ }}</label>
            <input class="form-control" id="signup_password" type="password" name="password">
            <div data-validate-for="password"></div>
        </div>
        <div class="col-12 col-md-6">
            <label for="password_repeat">{{ 'Confirmar Password'|_ }}</label>
            <input class="form-control" id="password_repeat" type="password" name="password_repeat">
            <div data-validate-for="password_repeat"></div>
        </div>
    </div>
    
{% if true %}
    <!-- address -->
    <div class="mall-signup__billing-address">
        <h1 class="mall-signup__subheading">
            {{'Morada'|_}}
        </h1>

        {% partial __SELF__ ~ '::addressform' type='billing' %}

        <div class="mall-signup__shipping-address-option mt-3">
            <label class="mall-checkbox">
                <input class="js-mall-toggle-shipping-address"
                       type="checkbox"
                       name="use_different_shipping" value="1">
                <span>
                    {{'Usar endereço diferente para envio'|_}}
                </span>
            </label>
        </div>
    </div>

    <div class="mall-shipping-address" style="display: none">
        <h3 class="mall-signup__subheading">
            {{ 'Morada'|_ }}
        </h3>
        {% partial __SELF__ ~ '::addressform' type='shipping' %}
    </div>    
{% endif %}
    
    
    {% partial __SELF__ ~ '::terms' %}



    
    
    <button type="submit" class="btn w-100 mt-4 mall-btn-signup">
        {{'Registar'|_}}
    </button>


</form>