==
<div class="container container_produto_page">
    <div class="row">

        <!-- Partial Listagem Das Imagems -->
        {% partial 'produto/imagem_produto' item=item %}

        <!-- Partials Informação do produto -->
        {% partial 'produto/produto_info' item=item %}
    </div>
</div>