==
{##}
<div class="col-md-6 imgs_produto">
    <div class="row">
        <div class="col-12 position-relative">
            <div class="owl-carousel owl_image_produto">
                <!-- Imagem Principal -->
                <a class="item" data-hash="1" href="{{ item.image.path }}">
                    <img class="zoom" src="{{ item.image.path }}" alt="{{item.name}}" />
                </a>

                <!-- Outras Imagens -->
                {% for image in item.images %}
                <a class="item" data-hash="{{loop.index + 1}}" href="{{ image.path }}">
                    <img class="zoom attachment-shop_thumbnail" src="{{ image.path }}" />
                </a>
                {% endfor %}
            </div>

            <!-- Btns Nav Owl Carousel -->
            <!-- Prev -->
            <span class="produto_nav_btns customPrevBtn">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </span>

            <!-- Next -->
            <span class="produto_nav_btns customNextBtn">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <!-- Listagem Todas Imagens -->
    <div class="row">
        <div class="col-2">
            <a class="button secondary url" href="#1">
                <img class="w-100" src="{{ item.image.path }}" />
            </a>
        </div>
        {% for image in item.images %}
        <div class="col-2 mb-4">
            <a class="button secondary url" href="#{{loop.index + 1}}">
                <img class="w-100" src="{{ image.path }}" />
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% put scripts %}
<script>
    $(document).ready(function () {
         // Initiate carousel
         var owl = $('.owl_image_produto');
         owl.owlCarousel({
            items: 1,
            loop: true,
            center: true,
            margin: 10,
            URLhashListener: true,
            autoplayHoverPause: true,
            startPosition: 'URLHash',
            autoHeight: true,
            onTranslated: function () {
                // Update Magnify when slide changes
                $zoom.destroy().magnify();
            }
        });
        // Initiate zoom
        var $zoom = $('.zoom').magnify();
        $('.customNextBtn').click(function () {
            owl.trigger('next.owl.carousel');
        })
        // Go to the previous item
        $('.customPrevBtn').click(function () {
            // With optional speed parameter
            // Parameters has to be in square bracket '[]'
            owl.trigger('prev.owl.carousel', [300]);
        })
    });
</script>
{% endput %}
