==
{% component 'mallProduct' %}

<!-- Estilos antigos -->
{% if false %}
<div class="col-md-6 info_produto">
    <h1 class="titulo_produto my-4">
        Braided Crossbody Belt Bag
    </h1>
    <h1 class="preco_produto mb-4">
        €29.99
    </h1>
    <div class="row">
        <div class="col-6 color_box_product">
            <label for="">
                Cor:
            </label>

            <!-- Lista Cores -->
            <div class="colors">
                <label>
                    <input type="radio" name="color" value="black">
                    <span class="swatch" style="background-color:#FFFFFF"></span>
                </label>
                <label>
                    <input type="radio" name="color" value="blue">
                    <span class="swatch" style="background-color:#F69679"></span>
                </label>
                <label>
                    <input type="radio" name="color" value="green">
                    <span class="swatch" style="background-color:#ED1C24"></span>
                </label>
            </div>
        </div>
        <div class="col-6 size_box_product">
            <label for="">
                Tamanho:
            </label>

            <!-- Lista Tamanhos -->
            <div class="sizes">
                <label>
                    <input type="radio" name="size" value="black">
                    <span class="swatch">
                        m
                    </span>
                </label>
                <label>
                    <input type="radio" name="size" value="blue">
                    <span class="swatch">
                        m
                    </span>
                </label>
                <label>
                    <input type="radio" name="size" value="green">
                    <span class="swatch">
                        m
                    </span>
                </label>
            </div>
        </div>
    </div>
    <p class="descricao_produto my-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus accusantium explicabo, omnis
        debitis dignissimos nemo! Illum omnis, maiores, sed quas laudantium aliquam soluta eveniet vel, repellat
        consequuntur quam eligendi?
    </p>
    <hr>
    <div class="row quantity_produto">
        <div class="col-12">
            <select class="selectpicker">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <button class="btn btn_add_carrinho">
                adicionar ao carrinho
            </button>
        </div>
    </div>
    <hr>

</div>
{% endif %}
