{##}
<div class="row mt-4">
    <div class="col-12">
        <p>
            {{'A Modelo usa também'|_}}:
        </p>
    </div>
    <div class="col-12">
        <div class="row">
        {% for relacionado in produto.accessories %}
            <div class="col-2">
                <a href="{{ 'produto_page'|page({slug: relacionado.slug, variant: relacionado.variantId}) }}" 
                    style="text-decoration: none;">
                    <img class="w-100" src="{{ relacionado.image.path }}" alt="{{ relacionado.name }}">
                    <p class="mt-3 mb-0" style="font-size: 10px;">
                        {{relacionado.name}}
                    </p>
                    <p style="font-size: 10px;">
                        {{relacionado.price()}}
                    </p>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>