<div class="container-fluid container_about">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2 d-flex flex-column justify-content-center align-items-center about_imgs">
                    <img src="{{'assets/img/fasil/about/rectangle-10.png'|theme}}" alt="">
                    <img src="{{'assets/img/fasil/about/rectangle-10-1.png'|theme}}" alt="">
                </div>
                <div class="col-md-6 order-md-1 d-md-flex flex-column justify-content-center">
                    <h1 class="about_titulo">
                        A Fasil
                    </h1>
                    <p class="about_subtitulo">
                        Delectus voluptatum tenetur vero eum quos ad dignissimos ipsa praesentium.
                    </p>
                    <p class="about_text">
                        Est perspiciatis cupiditate distinctio officiis officia beatae vero assumenda voluptatum. Omnis
                        nulla quos cumque id, necessitatibus sed in exercitationem adipisci, harum velit nam nihil eaque
                        eveniet veniam eos quo, minima qui, rem aspernatur. Vero nisi doloremque, at accusantium iure,
                        dignissimos error architecto dolor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
