{##}
<div class="container-fluid container_banner">
    {% if show_banner %}
        <div class="row mb-4">
            <div class="col-3"></div>
            <div class="col-6">
                <img class="mw-100 pr-md-3 ml-md-auto w-auto"
                    src="{{'assets/img/baner/black_friday.png'|theme}}" alt="">
            </div>
            <div class="col-3"></div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 pr-md-0 text-md-right text-center">
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel ml-md-auto">
                        {% for item in luxurious %}
                            <div class="">
                                <img class="mw-100 pl-md-3 w-auto mr-md-auto"
                                    src="{{ item.image.path }}" alt="{{item.name}}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="banner_text_content left">

                        <p class="banner_titulo d-none">
                            Luxurious
                        </p>

                        <p class="banner_descricao">
                            Para Mulheres Carismáticas e Exuberantes de Estilo Elegante e Refinado.
                            Ideal para uma Festa, um Evento Especial ou apenas para um Jantar.
                        </p>

                        <a class="btn_a" href="{{'loja'|page({slug: 'luxurious'})}}">
                            Luxurious
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6 pl-md-0 text-md-left text-center">
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel mr-md-auto">
                    {% for item in gracious %}
                        <div class="">
                            <img class="mw-100 pl-md-3 w-auto mr-md-auto"
                                src="{{ item.image.path }}" alt="{{item.name}}">
                        </div>
                    {% endfor %}
                    </div>
                    <div class="banner_text_content right">

                        <p class="banner_titulo d-none">
                            Gracious
                        </p>

                        <p class="banner_descricao">
                            Para Mulheres Românticas e Criativas com um Estilo Delicado e Irreverente.
                            Ideal para ir trabalhar, dar um passeio ou simplesmente para o dia-à-dia.
                        </p>

                        <a class="btn_a" href="{{'loja'|page({slug: 'gracious'})}}">
                            Gracious
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% put scripts %}
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            center: true,
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
        });
    });

</script>
{% endput %}
