[products mallProducts]
filterComponent = "productsFilter"
setPageTitle = 0
includeVariants = 0
includeChildren = 1
perPage = "{{ num_perPage }}"
paginate = 0
sort = "latest"
==
<div class="container container_vestidos_home mb-5">
    <div class="row">
        <div class="col-12 my-5">
            <h1 class="my-2 my-md-5">
                Ultimas Novidades
            </h1>
        </div>
    </div>

    <!-- mall component 
    check partials mallProducts/ 
    -->
    {% component 'mallProducts' %}

    {% if this.page.baseFileName == 'home' %}
    <div class="row">
        <div class="col-12 d-flex justify-content-around">
            <a class="btn_a mb-5" href="{{'loja'|page({slug: 'gracious'})}}">
                Gracious
            </a>
            <a class="btn_a mb-5" href="{{'loja'|page({slug: 'luxurious'})}}">
                Luxurious
            </a>
        </div>
    </div>
    {% endif %}
</div>