.container_loja {
    .btn_loja_filter {
        &.page_filter {
            background-color: $pink;
            padding: 5px 10px;
            margin-left: 15px;
            margin-bottom: 25px;
            border-radius: 5px;
        }

        p {
            color: $white;
        }

        div {
            width: 35px;
            height: 25px;
            display: inline-block;
            margin-bottom: 5px;

            span {
                width: 22px;
                height: 2px;
                background-color: $white;
                margin: 6px 0;
                transition: 0.4s;
                display: block;
            }
        }
    }

    .loja_filtros {
        @media screen and (max-width: $tablet - 1) {
            background-color: $white;
            position: fixed;
            left: -100%;
            top: 96px;
            height: 100%;
            z-index: 9;
            transition: 0.4s;

            &.open {
                left: 0;
            }

            .btn_loja_filter {
                &.close_loja_filter {
                    position: absolute;
                    top: 0;
                    right: 36px;
                    width: 25px;
                    height: 25px;
                    border: 1px solid $cinza_clara;
                    cursor: pointer;
                    z-index: 1;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 15px;
                        top: 50%;
                        left: 4px;
                        margin-top: -1px;
                        background: $pink;
                    }

                    &::before {
                        transform: rotate(45deg);
                    }

                    &::after {
                        transform: rotate(-45deg);
                    }

                    &.pointy {

                        &::Before,
                        &::after {
                            width: 200%;
                            left: -50%;
                        }
                    }
                }
            }


        }

        h1 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 17px;
            font-family: 'PT Sans', sans-serif;
            color: #636363;
            margin-bottom: 10px;
        }

        a {
            &.active {
                color: $pink;
                font-weight: 600;
            }

            &.categoria_filho {
                margin-left: 15px;
                font-size: 13px;
                text-transform: none;
            }

            &.categoria_pai {
                border-bottom: 1px solid $cinza_clara;
            }

            text-transform: uppercase;
            display: block;
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 10px;
            color: #636363;
            text-decoration: none;
        }
    }

    .sort_by_filter {
        .mall-property-group__name {
            font-size: 15px;
            color: $pink;
            text-transform: uppercase;
            font-weight: 600;
        }

        .mall-filter {
            max-width: 180px;

            button {
                font-size: 14px;
            }
        }
    }
}
