.pagination {
    justify-content: flex-end;

    li {
        margin: 0 4px;

        &:first-child {
            a {
                color: transparent;
                position: relative;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: FontAwesome;
                    content: "\f104";
                    display: inline-block;
                    background-color: #f7f7f7;
                    color: $pink;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    &::before {
                        background-color: $pink;
                        color: $white;
                    }
                }
            }

            span {
                @extend a;
                cursor: not-allowed;
            }
        }

        &:last-child {
            a {
                color: transparent;
                position: relative;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: FontAwesome;
                    content: "\f105";
                    display: inline-block;
                    background-color: #f7f7f7;
                    color: $pink;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    &::before {
                        background-color: $pink;
                        color: $white;
                    }
                }
            }

            span {
                @extend a;
                cursor: not-allowed;
            }
        }

        a {
            width: 40px;
            height: 40px;
            background-color: #f7f7f7;
            color: $pink;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            &:hover {
                background-color: $pink;
                color: $white;
            }
        }

        span {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $pink;
        }
    }
}
